@model SFA.DAS.AssessorService.Web.ViewModels.Account.CreateAccountViewModel

@{
    ViewBag.Title = "Confirm your identity";
}

<a class="govuk-back-link" asp-controller="Account" asp-action="CreateAnAccount">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Confirm your identity</h1>
            <p>We've sent an invite to @Model.Email, use the link and code to continue sign up.</p>

        </div>
    </div>