@{
    ViewBag.Title = "Access Request Sent";
}


<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Request Sent</h1>
            
            <p class="govuk-body">Your access request has been submitted.</p>
            
        </div>
    </div>
</main>