@{
    ViewData["Title"] = "Signed out";
}

<h2>@ViewData["Title"]</h2>
<p>
    You have successfully signed out.
    
    <a asp-controller="Organisation" asp-action="Index">Click here to sign back in</a>
</p>
