@{
    ViewData["Title"] = "Signed out";
}

<div class="row">
    <h1>You have successfully signed out.</h1>
    
    <a asp-controller="Organisation" asp-action="Index">Click here to sign back in</a>
</div>
