@model SFA.DAS.AssessorService.Web.ViewModels.Account.AccessDeniedViewModel

@{
    ViewBag.Title = "Not available";
    Layout = "_DashboardLayout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">This feature is not currently available</h1>
            
        </div>
    </div>
</main>