@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<ul>
    <li>
        <div class="form-group">
            <fieldset class="after-error-summary">
                <legend>
                    <h1 class="heading-large">
                        Do you have a car?
                    </h1>
                    <div class="error-message-container" sfa-validation-for-id="Q-02" sfa-validationerror-class="form-group-error">
                        <span class="error-message" sfa-validation-for-id="Q-02"></span>
                    </div>
                </legend>

                <div class="form-group" sfa-validation-for-id="Q-02" sfa-validationerror-class="form-group-error">
                    <div class="multiple-choice" data-target="Q-02_0-options">
                        <input type="radio" id="Q-02_0" name="Q-02" value="Yes">
                        <label for="Q-02_0">Yes</label>
                    </div>
                    <div class="panel panel-border-narrow js-hidden" id="Q-02_0-options">
                        <div class="form-group-compound">
                            <label class="form-label" for="Q-02a">Make</label>
                            <input class="form-control" type="text" id="Q-02a" name="Q-02a">
                        </div>
                        <div class="form-group-compound">
                            <label class="form-label" for="Q-02b">Model</label>
                            <input class="form-control" type="text" id="Q-02b" name="Q-02b">
                        </div>
                    </div>

                    <div class="multiple-choice" data-target="Q-02_1-options">
                        <input type="radio" id="Q-02_1" name="Q-02" value="No">
                        <label for="Q-02_1">No</label>
                    </div>
                    <div class="panel panel-border-narrow js-hidden" id="Q-02_1-options">
                        <label class="form-label" for="Q-02c">Why the hell not?</label>
                        <input class="form-control" type="text" id="Q-02c" name="Q-02c">
                    </div>
                </div>
            </fieldset>
        </div>
    </li>
</ul>