@model SFA.DAS.AssessorService.Web.ViewModels.ChangeEmailViewModel

@{
    var viewTitle = "Confirm email address";
    ViewBag.Title = viewTitle;
    Layout = "_DashboardLayout";
}

<a class="govuk-back-link" asp-controller="Organisation" asp-action="ChangeEmail">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <h1 class="govuk-heading-xl">@viewTitle</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form asp-controller="Organisation" asp-action="ChangeEmail">
                @Html.HiddenFor(m => m.Email)
                <div>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Contact email</dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Email
                            </dd>
                        </div>
                    </dl>
                </div>
                <button class="govuk-button" type="submit" name="ActionChoice" value="Confirm">Confirm email address</button>
            </form>
        </div>
    </div>
</main>