@model SFA.DAS.AssessorService.Web.ViewModels.ChangeEmailViewModel

@{
    var viewTitle = "Change email address";
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + viewTitle;
    Layout = "_DashboardLayout";
}

<a class="govuk-back-link" asp-controller="Organisation" asp-action="OrganisationDetails">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li><a sfa-validation-for="Email"></a></li>
                </ul>
            </div>
        </div>
    }
    <h1 class="govuk-heading-xl">@viewTitle</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">This is usually a generic email address that can be accessed by more than one member of your team.</p>

            <form asp-controller="Organisation" asp-action="ChangeEmail" class="app-prevent-button-disabling">
                <div class="govuk-form-group">
                    <div class="govuk-form-group" sfa-validation-for="Email" sfa-validationerror-class="govuk-form-group--error">
                        <label class="govuk-label" for="Email">
                            Contact email
                        </label>
                        <sfa-validationerror-detail sfa-validation-for="Email" sfa-validationerror-class="govuk-error-message"></sfa-validationerror-detail>
                        <input class="govuk-input" name="Email" sfa-validation-for="Email" sfa-validationerror-class="govuk-input--error" asp-for="Email" type="text" maxlength="254" />
                    </div>
                </div>
                <button class="govuk-button" type="submit" name="ActionChoice" value="Save">Change email address</button>
            </form>
        </div>
    </div>
</main>