@using SFA.DAS.AssessorService.Api.Types.Models
@model SFA.DAS.AssessorService.Api.Types.Models.OrganisationResponse

@{
    ViewBag.Title = "End-point assessor dashboard";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Dashboard</span>
            <h1 class="govuk-heading-xl">@Model.EndPointAssessorName</h1>==
            <a asp-controller="Search" asp-action="Index" class="govuk-button">Search for an Apprentice</a>
        </div>
    </div>
</main>