@using SFA.DAS.AssessorService.Api.Types.Models
@model SFA.DAS.AssessorService.Api.Types.Models.Organisation

@{
    ViewBag.Title = "Organisation";
    Layout = "_AuthLayout";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">You are logged in.  Your EPAO details are: </h1>
        <h2>Name: @Model.EndPointAssessorName</h2>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <a asp-controller="Search" asp-action="Index" class="button">Search for an Apprentice</a>
    </div>
</div>