@using SFA.DAS.AssessorService.Api.Types.Models
@model SFA.DAS.AssessorService.Api.Types.Models.OrganisationResponse

@{
    ViewBag.Title = "End-point assessor dashboard";
    Layout = "_AuthLayout";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">
            <span class="heading-secondary">Dashboard</span>
            @Model.EndPointAssessorName
        </h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <a asp-controller="Search" asp-action="Index" class="button">Search for an Apprentice</a>
    </div>
</div>