@model SFA.DAS.AssessorService.Web.ViewModels.SelectOrChangeContactNameViewModel

@{
    var viewTitle = "Confirm contact name";
    ViewBag.Title = viewTitle;
    Layout = "_DashboardLayout";
}

<a class="govuk-back-link" asp-controller="Organisation" asp-action="SelectOrChangeContactName">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <h1 class="govuk-heading-xl">@viewTitle</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form asp-controller="Organisation" asp-action="SelectOrChangeContactName" class="app-prevent-button-disabling">
                @Html.HiddenFor(m => m.PrimaryContact)
                <div>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value">
                                @Model.PrimaryContactName
                            </dd>
                        </div>
                    </dl>
                </div>
                <p class="govuk-body">Confirm the new contact for your organisation.</p>
                <button class="govuk-button" type="submit" name="ActionChoice" value="Confirm">Confirm</button>
            </form>
        </div>
    </div>
</main>