
.roatp-search-button {
    position: absolute;
    width: 59px;
    height: 59px;
    background-color: #005ea5;
    background-image: url(/images/search-button.png);
    color: #ffffff;
    border: none;
    text-indent: -10000px;
    background-size: 80.5px auto;
    background-position: 115% 50%;
    cursor: pointer;
}

.roatp-search-label {
    display: block;
}

.roatp-search-field {
    height: 35px;
    width: 70% !important;
    border: 2px solid #0b0c0c;
    padding: 10px !important;
}

.roatp-radios__item {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;
    padding: 0 0 0 40px;
    clear: left;
}

@media print {
    .roatp-radios__item {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .roatp-radios__item {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

@media print {
    .roatp-radios__item {
        font-size: 14pt;
        line-height: 1.15;
    }
}

.roatp-radios__item:last-child,
.roatp-radios__item:last-of-type {
    margin-bottom: 0;
}

.roatp-radios__input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0;
    opacity: 0;
}

.roatp-radios__label {
    display: inline-block;
    margin-bottom: 0;
    padding: 8px 15px 5px;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.roatp-radios__hint {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
}

.roatp-radios__input + .roatp-radios__label::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid currentColor;
    border-radius: 50%;
    background: transparent;
}

.roatp-radios__input + .roatp-radios__label::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 0;
    height: 0;
    border: 10px solid currentColor;
    border-radius: 50%;
    opacity: 0;
    background: currentColor;
}

.roatp-radios__input:focus + .roatp-radios__label::before {
    outline: 3px solid transparent;
    outline-offset: 3px;
    box-shadow: 0 0 0 4px #ffbf47;
}

.roatp-radios__input:checked + .roatp-radios__label::after {
    opacity: 1;
}

.roatp-radios__input:disabled,
.roatp-radios__input:disabled + .roatp-radios__label {
    cursor: default;
}

    .roatp-radios__input:disabled + .roatp-radios__label {
        opacity: .5;
    }

@media (min-width: 40.0625em) {
    .roatp-radios--inline:after {
        content: "";
        display: block;
        clear: both;
    }

    .roatp-radios--inline .roatp-radios__item {
        margin-right: 20px;
        float: left;
        clear: none;
    }
}

.roatp-radios--inline.roatp-radios--conditional .roatp-radios__item {
    margin-right: 0;
    float: none;
}

.roatp-radios__divider {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    width: 40px;
    margin-bottom: 10px;
    text-align: center;
}

@media print {
    .roatp-radios__divider {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .roatp-radios__divider {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

@media print {
    .roatp-radios__divider {
        font-size: 14pt;
        line-height: 1.15;
    }
}

@media print {
    .roatp-radios__divider {
        color: #000000;
    }
}

.roatp-radios__conditional {
    margin-bottom: 15px;
    margin-left: 18px;
    padding-left: 33px;
    border-left: 4px solid #bfc1c3;
}

@media (min-width: 40.0625em) {
    .roatp-radios__conditional {
        margin-bottom: 20px;
    }
}

.js-enabled .roatp-radios__conditional--hidden {
    display: none;
}

.roatp-radios__conditional > :last-child {
    margin-bottom: 0;
}

.roatp-label:not(.roatp-label--m):not(.roatp-label--l):not(.roatp-label--xl) + .roatp-hint {
    margin-bottom: 10px;
}

.roatp-fieldset__legend:not(.roatp-fieldset__legend--m):not(.roatp-fieldset__legend--l):not(.roatp-fieldset__legend--xl) + .roatp-hint {
    margin-bottom: 10px;
}

.roatp-fieldset__legend + .roatp-hint,
.roatp-fieldset__legend + .roatp-hint {
    margin-top: -5px;
}

.roatp-label {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px !important;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    display: block;
    margin-bottom: 5px;
}

@media print {
    .roatp-label {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .roatp-label {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

@media print {
    .roatp-label {
        font-size: 14pt;
        line-height: 1.15;
    }
}

@media print {
    .roatp-label {
        color: #000000;
    }
}

.roatp-label--xl {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.09375;
    margin-bottom: 15px;
}

@media print {
    .roatp-label--xl {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .roatp-label--xl {
        font-size: 48px;
        font-size: 3rem;
        line-height: 1.04167;
    }
}

@media print {
    .roatp-label--xl {
        font-size: 32pt;
        line-height: 1.15;
    }
}

.roatp-label--l {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.04167;
    margin-bottom: 15px;
}

@media print {
    .roatp-label--l {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .roatp-label--l {
        font-size: 36px;
        font-size: 2.25rem;
        line-height: 1.11111;
    }
}

@media print {
    .roatp-label--l {
        font-size: 24pt;
        line-height: 1.05;
    }
}

.roatp-label--m {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    margin-bottom: 10px;
}

@media print {
    .roatp-label--m {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .roatp-label--m {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25;
    }
}

@media print {
    .roatp-label--m {
        font-size: 18pt;
        line-height: 1.15;
    }
}

.roatp-label--s {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}

@media print {
    .roatp-label--s {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .roatp-label--s {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

@media print {
    .roatp-label--s {
        font-size: 14pt;
        line-height: 1.15;
    }
}

.roatp-label-wrapper {
    margin: 0;
}

.roatp-input {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px !important;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-top: 0;
    padding: 5px;
    border: 2px solid #0b0c0c;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media print {
    .roatp-input {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .roatp-input {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

@media print {
    .roatp-input {
        font-size: 14pt;
        line-height: 1.15;
    }
}

.roatp-input:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
}

.roatp-input::-webkit-outer-spin-button,
.roatp-input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

.roatp-input[type="number"] {
    -moz-appearance: textfield;
}

.roatp-input--error {
    border: 4px solid #b10e1e;
}

.roatp-input--width-30 {
    max-width: 59ex;
}

.roatp-input--width-20 {
    max-width: 41ex;
}

.roatp-input--width-10 {
    max-width: 23ex;
}

.roatp-input--width-5 {
    max-width: 10.8ex;
}

.roatp-input--width-4 {
    max-width: 9ex;
}

.roatp-input--width-3 {
    max-width: 7.2ex;
}

.roatp-input--width-2 {
    max-width: 5.4ex;
}

.govuk-\!-width-full {
    width: 100% !important;
}

.govuk-\!-width-three-quarters {
    width: 100% !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-width-three-quarters {
        width: 75% !important;
    }
}

.govuk-\!-width-two-thirds {
    width: 100% !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-width-two-thirds {
        width: 66.66% !important;
    }
}

.govuk-\!-width-one-half {
    width: 100% !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-width-one-half {
        width: 50% !important;
    }
}

.govuk-\!-width-one-third {
    width: 100% !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-width-one-third {
        width: 33.33% !important;
    }
}

.govuk-\!-width-one-quarter {
    width: 100% !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-width-one-quarter {
        width: 25% !important;
    }
}


.govuk-grid-column-one-quarter {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
}

@media (min-width: 40.0625em) {
    .govuk-grid-column-one-quarter {
        width: 25%;
        float: left;
    }
}

.govuk-grid-column-one-third {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
}

@media (min-width: 40.0625em) {
    .govuk-grid-column-one-third {
        width: 33.3333%;
        float: left;
    }
}

.govuk-grid-column-one-half {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
}

@media (min-width: 40.0625em) {
    .govuk-grid-column-one-half {
        width: 50%;
        float: left;
    }
}

.govuk-grid-column-two-thirds {
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 40.0625em) {
    .govuk-grid-column-two-thirds {
        width: 66.6666%;
        float: left;
    }
}

.govuk-grid-column-three-quarters {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
}

@media (min-width: 40.0625em) {
    .govuk-grid-column-three-quarters {
        width: 75%;
        float: left;
    }
}

.govuk-grid-column-full {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
}

@media (min-width: 40.0625em) {
    .govuk-grid-column-full {
        width: 100%;
        float: left;
    }
}

.roatp-select {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px !important;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    max-width: 100%;
    height: 40px;
    padding: 5px;
    border: 2px solid #0b0c0c;
}

@media print {
    .roatp-select {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .roatp-select {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.25;
    }
}

@media print {
    .roatp-select {
        font-size: 14pt;
        line-height: 1.25;
    }
}

.roatp-select:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
}

    .roatp-select option:active,
    .roatp-select option:checked,
    .roatp-select:focus::-ms-value {
        color: #ffffff;
        background-color: #005ea5;
    }

.roatp-select--error {
    border: 4px solid #b10e1e;
}

.govuk-form-group {
    margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
    .govuk-form-group {
        margin-bottom: 30px;
    }
}

.govuk-form-group .govuk-form-group:last-of-type {
    margin-bottom: 0;
}

.govuk-form-group--error {
    padding-left: 15px;
    border-left: 5px solid #b10e1e;
}

    .govuk-form-group--error .govuk-form-group {
        padding: 0;
        border: 0;
    }


.govuk-summary-list {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px !important;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    margin: 0;
    margin-bottom: 20px;
}

@media print {
    .govuk-summary-list {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

@media print {
    .govuk-summary-list {
        font-size: 14pt;
        line-height: 1.15;
    }
}

@media print {
    .govuk-summary-list {
        color: #000000;
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list {
        display: table;
        width: 100%;
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list {
        margin-bottom: 30px;
    }
}

@media (max-width: 40.0525em) {
    .govuk-summary-list__row {
        margin-bottom: 15px;
        border-bottom: 1px solid #bfc1c3;
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__row {
        display: table-row;
    }
}

.govuk-summary-list__key,
.govuk-summary-list__value,
.govuk-summary-list__actions {
    margin: 0;
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__key,
    .govuk-summary-list__value,
    .govuk-summary-list__actions {
        display: table-cell;
        padding-right: 20px;
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__key,
    .govuk-summary-list__value,
    .govuk-summary-list__actions {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #bfc1c3;
    }
}

.govuk-summary-list__actions {
    margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__actions {
        padding-right: 0;
        text-align: right;
    }
}

.govuk-summary-list__key {
    margin-bottom: 5px;
    font-weight: 700;
    word-break: break-word;
}

@media (min-width: 40.0625em) {
    .govuk-summary-list__key {
        width: 30%;
    }
}

@media (max-width: 40.0525em) {
    .govuk-summary-list__value {
        margin-bottom: 15px;
    }
}

.govuk-summary-list__value > p {
    margin-bottom: 10px;
}

.govuk-summary-list__value > :last-child {
    margin-bottom: 0;
}

.govuk-summary-list__actions-list {
    width: 100%;
    margin: 0;
    padding: 0;
}

.govuk-summary-list__actions-list-item {
    display: inline;
    margin-right: 10px;
    padding-right: 10px;
}

    .govuk-summary-list__actions-list-item:not(:last-child) {
        border-right: 1px solid #bfc1c3;
    }

    .govuk-summary-list__actions-list-item:last-child {
        margin-right: 0;
        padding-right: 0;
        border: 0;
    }

.govuk-summary-list--no-border .govuk-summary-list__key,
.govuk-summary-list--no-border .govuk-summary-list__value,
.govuk-summary-list--no-border .govuk-summary-list__actions,
.govuk-summary-list--no-border .govuk-summary-list__row {
    border: 0;
}


.roatp-panel {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 35px;
    border: 5px solid transparent;
    text-align: center;
}

@media print {
    .roatp-panel {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .roatp-panel {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

@media print {
    .roatp-panel {
        font-size: 14pt;
        line-height: 1.15;
    }
}

@media (max-width: 40.0525em) {
    .roatp-panel {
        padding: 25px !important;
    }
}

.roatp-panel--confirmation {
    color: #ffffff !important;
    background: #28a197 !important;
}

.roatp-panel__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.09375;
}

@media print {
    .roatp-panel__title {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .roatp-panel__title {
        font-size: 48px;
        font-size: 3rem;
        line-height: 1.04167;
    }
}

@media print {
    .roatp-panel__title {
        font-size: 32pt;
        line-height: 1.15;
    }
}

.roatp-panel__title:last-child {
    margin-bottom: 0;
}

.roatp-panel__body {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.04167;
}

@media print {
    .roatp-panel__body {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .roatp-panel__body {
        font-size: 36px;
        font-size: 2.25rem;
        line-height: 1.11111;
    }
}

@media print {
    .roatp-panel__body {
        font-size: 24pt;
        line-height: 1.05;
    }
}

.roatp-button {
    background-color: #ffffff;
    color: #005ea5;
}


.roatp-button {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px !important;
    font-size: 1rem;
    line-height: 1.1875;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-bottom: 22px;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #ffffff;
    background-color: #00823b;
    box-shadow: 0 2px 0 #003618;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
}

@media print {
    .roatp-button {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .roatp-button {
        font-size: 19px !important;
        font-size: 1.1875rem;
        line-height: 1;
    }
}

@media print {
    .roatp-button {
        font-size: 14pt;
        line-height: 19px;
    }
}

.roatp-button:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
}

@media (min-width: 40.0625em) {
    .roatp-button {
        margin-bottom: 32px;
    }
}

@media (min-width: 40.0625em) {
    .roatp-button {
        width: auto;
    }
}

.roatp-button:link, .roatp-button:visited, .roatp-button:active, .roatp-button:hover {
    color: #ffffff;
    text-decoration: none;
}

.roatp-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.roatp-button:hover, .roatp-button:focus {
    background-color: #00692f;
}

.roatp-button:active {
    top: 2px;
    box-shadow: none;
}

.roatp-button::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
    background: transparent;
}

.roatp-button:active::before {
    top: -4px;
}

.roatp-button--disabled,
.roatp-button[disabled="disabled"],
.roatp-button[disabled] {
    opacity: 0.5;
    background: #00823b;
}

    .roatp-button--disabled:hover,
    .roatp-button[disabled="disabled"]:hover,
    .roatp-button[disabled]:hover {
        background-color: #00823b;
        cursor: default;
    }

    .roatp-button--disabled:focus,
    .roatp-button[disabled="disabled"]:focus,
    .roatp-button[disabled]:focus {
        outline: none;
    }

    .roatp-button--disabled:active,
    .roatp-button[disabled="disabled"]:active,
    .roatp-button[disabled]:active {
        top: 0;
        box-shadow: 0 2px 0 #003618;
    }

.roatp-button--start {
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1;
    min-height: auto;
    padding-top: 8px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-left: 15px;
    background-image: url("/assets/images/icon-pointer.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

@media (min-width: 40.0625em) {
    .roatp-button--start {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1;
    }
}

@media print {
    .roatp-button--start {
        font-size: 18pt;
        line-height: 1;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .roatp-button--start {
        background-image: url("/assets/images/icon-pointer-2x.png");
        background-size: 30px 19px;
    }
}

.roatp-button {
    padding-top: 9px;
    padding-bottom: 6px;
}

.roatp-button--start {
    padding-top: 9px;
    padding-bottom: 6px;
}


.govuk-back-link {
    font-size: 14px !important;
    font-size: 0.875rem;
    line-height: 1.14286;
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 14px;
    border-bottom: 1px solid #0b0c0c;
    text-decoration: none;
}

@media (min-width: 40.0625em) {
    .govuk-back-link {
        font-size: 16px !important;
        font-size: 1rem;
        line-height: 1.25;
    }
}

@media print {
    .govuk-back-link {
        font-size: 14pt !important;
        line-height: 1.2;
    }
}

@media print {
    .govuk-back-link {
        font-family: sans-serif;
    }
}

.govuk-back-link:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
    background-color: #ffbf47;
}

.govuk-back-link:link, .govuk-back-link:visited, .govuk-back-link:hover, .govuk-back-link:active, .govuk-back-link:focus {
    color: #0b0c0c;
}

@media print {
    .govuk-back-link:link, .govuk-back-link:visited, .govuk-back-link:hover, .govuk-back-link:active, .govuk-back-link:focus {
        color: #000000;
    }
}

.govuk-back-link:before {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
    border-width: 5px 6px 5px 0;
    border-right-color: inherit;
    content: "";
    position: absolute;
    top: -1px;
    bottom: 1px;
    left: 0;
    margin: auto;
}

.govuk-back-link:before {
    top: -1px;
    bottom: 1px;
}

.govuk-hint {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px !important;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    margin-bottom: 15px;
    color: #6f777b;
}

@media print {
    .govuk-hint {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .govuk-hint {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

@media print {
    .govuk-hint {
        font-size: 14pt;
        line-height: 1.15;
    }
}

.govuk-heading-xl {
    color: #0b0c0c;
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.09375;
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
}

@media print {
    .govuk-heading-xl {
        color: #000000;
    }
}

@media print {
    .govuk-heading-xl {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .govuk-heading-xl {
        font-size: 48px;
        font-size: 3rem;
        line-height: 1.04167;
    }
}

@media print {
    .govuk-heading-xl {
        font-size: 32pt;
        line-height: 1.15;
    }
}

@media (min-width: 40.0625em) {
    .govuk-heading-xl {
        margin-bottom: 50px;
    }
}

.roatp-org-search-result {
    display: block;
}

.block {
    display: block;
}

.govuk-\!-margin-bottom-1 {
    margin-bottom: 5px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-margin-bottom-1 {
        margin-bottom: 5px !important;
    }
}

.govuk-tag--attention {
    background-color: #b10e1e;
}

.govuk-visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}

.well {
    background-color: #f8f8f8;
}

.govuk-\!-padding-0 {
    padding: 0 !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-0 {
        padding: 0 !important;
    }
}

.govuk-\!-padding-top-0 {
    padding-top: 0 !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-top-0 {
        padding-top: 0 !important;
    }
}

.govuk-\!-padding-right-0 {
    padding-right: 0 !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-right-0 {
        padding-right: 0 !important;
    }
}

.govuk-\!-padding-bottom-0 {
    padding-bottom: 0 !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-bottom-0 {
        padding-bottom: 0 !important;
    }
}

.govuk-\!-padding-left-0 {
    padding-left: 0 !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-left-0 {
        padding-left: 0 !important;
    }
}

.govuk-\!-padding-1 {
    padding: 5px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-1 {
        padding: 5px !important;
    }
}

.govuk-\!-padding-top-1 {
    padding-top: 5px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-top-1 {
        padding-top: 5px !important;
    }
}

.govuk-\!-padding-right-1 {
    padding-right: 5px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-right-1 {
        padding-right: 5px !important;
    }
}

.govuk-\!-padding-bottom-1 {
    padding-bottom: 5px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-bottom-1 {
        padding-bottom: 5px !important;
    }
}

.govuk-\!-padding-left-1 {
    padding-left: 5px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-left-1 {
        padding-left: 5px !important;
    }
}

.govuk-\!-padding-2 {
    padding: 10px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-2 {
        padding: 10px !important;
    }
}

.govuk-\!-padding-top-2 {
    padding-top: 10px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-top-2 {
        padding-top: 10px !important;
    }
}

.govuk-\!-padding-right-2 {
    padding-right: 10px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-right-2 {
        padding-right: 10px !important;
    }
}

.govuk-\!-padding-bottom-2 {
    padding-bottom: 10px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-bottom-2 {
        padding-bottom: 10px !important;
    }
}

.govuk-\!-padding-left-2 {
    padding-left: 10px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-left-2 {
        padding-left: 10px !important;
    }
}

.govuk-\!-padding-3 {
    padding: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-3 {
        padding: 15px !important;
    }
}

.govuk-\!-padding-top-3 {
    padding-top: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-top-3 {
        padding-top: 15px !important;
    }
}

.govuk-\!-padding-right-3 {
    padding-right: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-right-3 {
        padding-right: 15px !important;
    }
}

.govuk-\!-padding-bottom-3 {
    padding-bottom: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-bottom-3 {
        padding-bottom: 15px !important;
    }
}

.govuk-\!-padding-left-3 {
    padding-left: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-left-3 {
        padding-left: 15px !important;
    }
}

.govuk-\!-padding-4 {
    padding: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-4 {
        padding: 20px !important;
    }
}

.govuk-\!-padding-top-4 {
    padding-top: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-top-4 {
        padding-top: 20px !important;
    }
}

.govuk-\!-padding-right-4 {
    padding-right: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-right-4 {
        padding-right: 20px !important;
    }
}

.govuk-\!-padding-bottom-4 {
    padding-bottom: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-bottom-4 {
        padding-bottom: 20px !important;
    }
}

.govuk-\!-padding-left-4 {
    padding-left: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-left-4 {
        padding-left: 20px !important;
    }
}

.govuk-\!-padding-5 {
    padding: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-5 {
        padding: 25px !important;
    }
}

.govuk-\!-padding-top-5 {
    padding-top: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-top-5 {
        padding-top: 25px !important;
    }
}

.govuk-\!-padding-right-5 {
    padding-right: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-right-5 {
        padding-right: 25px !important;
    }
}

.govuk-\!-padding-bottom-5 {
    padding-bottom: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-bottom-5 {
        padding-bottom: 25px !important;
    }
}

.govuk-\!-padding-left-5 {
    padding-left: 15px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-left-5 {
        padding-left: 25px !important;
    }
}

.govuk-\!-padding-6 {
    padding: 20px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-6 {
        padding: 30px !important;
    }
}

.govuk-\!-padding-top-6 {
    padding-top: 20px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-top-6 {
        padding-top: 30px !important;
    }
}

.govuk-\!-padding-right-6 {
    padding-right: 20px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-right-6 {
        padding-right: 30px !important;
    }
}

.govuk-\!-padding-bottom-6 {
    padding-bottom: 20px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-bottom-6 {
        padding-bottom: 30px !important;
    }
}

.govuk-\!-padding-left-6 {
    padding-left: 20px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-left-6 {
        padding-left: 30px !important;
    }
}

.govuk-\!-padding-7 {
    padding: 25px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-7 {
        padding: 40px !important;
    }
}

.govuk-\!-padding-top-7 {
    padding-top: 25px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-top-7 {
        padding-top: 40px !important;
    }
}

.govuk-\!-padding-right-7 {
    padding-right: 25px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-right-7 {
        padding-right: 40px !important;
    }
}

.govuk-\!-padding-bottom-7 {
    padding-bottom: 25px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-bottom-7 {
        padding-bottom: 40px !important;
    }
}

.govuk-\!-padding-left-7 {
    padding-left: 25px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-left-7 {
        padding-left: 40px !important;
    }
}

.govuk-\!-padding-8 {
    padding: 30px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-8 {
        padding: 50px !important;
    }
}

.govuk-\!-padding-top-8 {
    padding-top: 30px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-top-8 {
        padding-top: 50px !important;
    }
}

.govuk-\!-padding-right-8 {
    padding-right: 30px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-right-8 {
        padding-right: 50px !important;
    }
}

.govuk-\!-padding-bottom-8 {
    padding-bottom: 30px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-bottom-8 {
        padding-bottom: 50px !important;
    }
}

.govuk-\!-padding-left-8 {
    padding-left: 30px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-left-8 {
        padding-left: 50px !important;
    }
}

.govuk-\!-padding-9 {
    padding: 40px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-9 {
        padding: 60px !important;
    }
}

.govuk-\!-padding-top-9 {
    padding-top: 40px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-top-9 {
        padding-top: 60px !important;
    }
}

.govuk-\!-padding-right-9 {
    padding-right: 40px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-right-9 {
        padding-right: 60px !important;
    }
}

.govuk-\!-padding-bottom-9 {
    padding-bottom: 40px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-bottom-9 {
        padding-bottom: 60px !important;
    }
}

.govuk-\!-padding-left-9 {
    padding-left: 40px !important;
}

@media (min-width: 40.0625em) {
    .govuk-\!-padding-left-9 {
        padding-left: 60px !important;
    }
}

.selected-item {
    background-color: #005ea5;
    color: #ffffff;
}

.selected-item a {
    color: #ffffff;
    text-decoration: none;
}

#organisationDetails {
    border-left: 1px solid #bfc1c3;
}

.govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 40.0625em) .govuk-grid-column-two-thirds {
    width: 66.6666%;
    float: left;
}

.govuk-grid-column-two-thirds {
    box-sizing: border-box;
    padding: 0 15px;
}


@media (min-width: 40.0625em) {
    .roatp-radios--inline:after {
        content: "";
        display: block;
        clear: both;
    }
    .roatp-radios--inline .roatp-radios__item {
        margin-right: 20px;
        float: left;
        clear: none;
    }
}

.roatp-radios--inline.govuk-radios--conditional .roatp-radios__item {
    margin-right: 0;
    float: none;
}


.roatp-radios__item {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;
    padding: 0 0 0 40px;
    clear: left;
}