details {
  margin-bottom: 30px;
}

.button:focus {
  position: inherit;
}

.button {
    display: block;
    width: 400px;
    height: 30px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.govuk-related-items {
  margin-top: 30px;
  border-top: 10px solid #005ea5;
  padding-top: 5px;
}

.govuk-related-items .heading-medium {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

.govuk-related-items li {
  margin-bottom: 10px;
  list-style-type: none;
}

.global-header-bar--white {
  background-color: #004274 !important;
}

.header-user {
  background: #005ea5;
  position: relative;
  z-index: 1;
}

.header-user,
.header-organisation {
  border-width: 1px 0;
}

.header-inner {
  max-width: 960px;
  margin: 0 15px;
  padding: 0;
  color: #fff;
  outline: none;
}

@media (min-width: 641px) {
  .header-inner {
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  .header-inner {
    margin: 0 auto;
  }
}

.header-inner h1,
.header-inner h2,
.header-inner h3,
.header-inner h4,
.header-inner h5,
.header-inner p {
  padding: 0;
  margin: 0;
}

label > .heading-xlarge {
  display: block;
}

#header-user--nav {
  padding: 15px 0;
}

#header-user--nav .heading-small .heading-secondary {
  color: #bae1ff;
  font-weight: normal;
  font-size: 16px;
  padding-left: 5px;
}

#header-user--nav a {
  color: #fff;
  text-decoration: none;
}

#header-user--nav a:hover {
  color: #fff;
  text-decoration: underline;
}

#header-user--nav nav#user-nav > ul {
  list-style: none;
  position: relative;
  margin-top: 15px;
}

@media (min-width: 641px) {
  #header-user--nav nav#user-nav > ul {
    float: right;
    margin: 0;
  }

  #header-user--nav nav#user-nav > ul li {
    margin-left: 20px;
  }
}

#header-user--nav nav#user-nav > ul li {
  border-top: 1px solid #0085ea;
  padding: 7.5px 0;
}

#header-user--nav nav#user-nav > ul li:last-child {
  padding-bottom: 0;
}

#header-user--nav nav#user-nav > ul li.current a {
  text-decoration: none;
  color: #75c4ff;
}

#header-user--nav nav#user-nav > ul li a {
  color: #fff;
  text-decoration: underline;
}

#header-user--nav nav#user-nav > ul li a:hover {
  color: #bae1ff;
  text-decoration: underline;
}

@media (min-width: 641px) {
  #header-user--nav nav#user-nav > ul li {
    border: none;
    display: inline-block;
    float: left;
    padding: 0;
  }
  #header-user--nav nav#user-nav > ul li > a.js-toggle {
    padding-left: 25px;
  }
  #header-user--nav nav#user-nav > ul li ul {
    display: none;
  }
  #header-user--nav nav#user-nav > ul li.open {
    position: relative;
  }
  #header-user--nav nav#user-nav > ul li.open ul {
    display: block;
    position: absolute;
    width: 250px;
    top: 100%;
    right: 0;
    background: #f8f8f8;
    border: 1px solid #bae1ff;
    z-index: 100;
  }
  #header-user--nav nav#user-nav > ul li.open ul li {
    margin: 0 10px;
    border-bottom: 1px solid #bae1ff;
  }
  #header-user--nav nav#user-nav > ul li.open ul li:last-child {
    border: none;
  }
  #header-user--nav nav#user-nav > ul li.open ul li a {
    padding-left: 0;
    padding-right: 0;
  }
  #header-user--nav nav#user-nav > ul li.open ul li.selected a {
    margin-left: 0;
  }
  #header-user--nav nav#user-nav > ul li a.menu-open,
  #header-user--nav nav#user-nav > ul li a.menu-open:focus {
    background: #f8f8f8;
    border: 1px solid #bfc1c3;
    border-bottom: none;
    position: relative;
    margin-bottom: -1px;
    z-index: 101;
  }
}

nav.global-nav {
  font-size: 14px;
}

@media (min-width: 641px) {
  nav.global-nav {
    font-size: 16px;
  }
}

nav.global-nav ul {
  list-style: none;
  margin: 0;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0;
  position: relative;
}

nav.global-nav ul li {
  display: inline-block;
  float: left;
}

nav.global-nav ul li a {
  padding: 12px 15px 10px;
  display: block;
  position: relative;
}

nav.global-nav ul li a:focus {
  outline: 0;
}

nav.global-nav ul li.current a {
  color: black;
  text-decoration: none;
}

nav.global-nav ul li.current a:after {
  content: '';
  display: block;
  height: 5px;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: -1px;
  z-index: 1;
  background: #005ea5;
}

nav.global-nav ul li.more-link a {
  position: absolute;
}

@media (min-width: 641px) {
  nav.global-nav ul li.more-link {
    display: none;
  }
}

nav.global-nav ul#global-nav-links-secondary {
  float: none;
  clear: both;
  margin-right: -15px;
}

@media (min-width: 641px) {
  nav.global-nav ul#global-nav-links-secondary {
    float: left;
    clear: none;
    margin-left: 0;
  }
}

nav.global-nav ul#global-nav-links-secondary li {
  display: block;
  float: none;
  border-top: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
  nav.global-nav ul#global-nav-links-secondary li {
    float: left;
    border: none;
  }
}

@media (min-width: 769px) {
  nav.global-nav ul {
    font-size: 19px;
  }
}

nav.global-nav ul li.sa-stacker {
  float: right;
}

nav.global-nav ul li.sa-stacker ul {
  display: none;
}

nav.global-nav ul li.sa-stacker.sa-open ul {
  display: block;
  position: absolute;
  background: white;
  left: 15px;
  right: -15px;
  border-bottom: 2px solid #bfc1c3;
}

nav.global-nav ul li.sa-stacker.sa-open ul li {
  display: block;
  float: none;
  border-top: 1px solid #bfc1c3;
}

fieldset.after-error-summary {
  margin-top: -15px;
}

@media (min-width: 641px) {
  fieldset.after-error-summary {
    margin-top: -30px;
  }
}

.error-summary,
.info-summary,
.success-summary,
.warning-summary {
  border-width: 4px;
  border-style: solid;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px;
}

@media (min-width: 641px) {
  .error-summary,
  .info-summary,
  .success-summary,
  .warning-summary {
    border-width: 5px;
    border-style: solid;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px;
  }
}

.error-summary [class^='heading-'],
.info-summary [class^='heading-'],
.success-summary [class^='heading-'],
.warning-summary [class^='heading-'],
.info-highlighted [class^='heading-'] {
  margin-top: 0;
}

/* :first-child:last-child === element has no siblings */
.error-summary [class^='heading-']:first-child:last-child,
.info-summary [class^='heading-']:first-child:last-child,
.success-summary [class^='heading-']:first-child:last-child,
.warning-summary [class^='heading-']:first-child:last-child,
.info-highlighted [class^='heading-']:first-child:last-child {
  margin: 0;
}

/* :first-child:last-child === element has no siblings */
.error-summary > *:last-child,
.info-summary > *:last-child,
.success-summary > *:last-child,
.warning-summary > *:last-child,
.info-highlighted > *:last-child {
  margin-bottom: 0;
}

.error-summary p,
.info-summary p,
.success-summary p,
.warning-summary p,
.info-highlighted p {
  margin-bottom: 10px;
}

.info-summary {
  border-color: #2b8cc4;
}

@media (min-width: 641px) {
  .info-summary {
    border-color: #2b8cc4;
  }
}

/* .info-summary .info-summary-list a {
  color: #2e358b;
} */

/* .info-summary .info-dismiss {
  color: #2e358b;
} */

.js-error-summary {
  display: none;
}

/* Postcode lookup */

/* jQuery UI Styles */
.ui-autocomplete {
  position: absolute;
  cursor: default;
}
* html .ui-autocomplete {
  width: 1px;
}
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  float: left;
}
.ui-menu .ui-menu {
  margin-top: -3px;
}
.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
}
.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 0.2em 0.4em;
  line-height: 1.5;
  zoom: 1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-autocomplete {
  background: #fff;
  border: 1px solid #bfc1c3;
  list-style-type: none;
  max-height: 370px;
  max-width: 100%;
  overflow-y: auto;
}
.ui-autocomplete .ui-menu-item {
  cursor: pointer;
  font-family: 'nta', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
}
@media (max-width: 640px) {
  .ui-autocomplete .ui-menu-item {
    font-size: 14px;
  }
}
@media (min-width: 641px) {
  .ui-autocomplete .ui-menu-item {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.ui-autocomplete .ui-menu-item a:hover,
.ui-autocomplete .ui-menu-item .ui-state-focus {
  background: #dee0e2;
}

.toggle-content {
  display: none;
}

.disabled,
.disabled > * {
  opacity: 0.5;
  pointer-events: none;
}

.ui-menu {
  top: -2px;
  padding: 0;
  box-sizing: border-box;
  border-width: 2px;
}

.ui-autocomplete .ui-menu-item {
  padding: 0;
}

.ui-menu .ui-menu-item a {
  padding: 6px 5px;
}

.ui-menu .ui-menu-item:first-child a {
  padding-top: 8px;
}

.ui-menu .ui-menu-item:last-child a {
  padding-bottom: 5px;
}

.ui-autocomplete .ui-menu-item {
  font-size: 16px;
}

@media (min-width: 641px) {
  .ui-autocomplete .ui-menu-item {
    font-size: 19px;
  }
}

/* .close-postcode-lookup {
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  right: 24px;
  margin-top: 8px;
  text-decoration: none;
  line-height: 1;
} */

/* .close-postcode-lookup:visited {
  color: #0b0c0c;
} */

.hide-nojs {
  display: none;
}

.js-enabled .hide-nojs {
  display: block;
}

/* Check and amend page */

@media (min-width: 769px) {
  .govuk-check-your-answers {
    display: table;
  }
}

.govuk-check-your-answers > * {
  position: relative;
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 769px) {
  .govuk-check-your-answers > * {
    display: table-row;
    border-bottom-width: 0;
  }
}

.govuk-check-your-answers > * > * {
  display: block;
}

@media (min-width: 769px) {
  .govuk-check-your-answers > * > * {
    display: table-cell;
    border-bottom: 1px solid #bfc1c3;
    padding: 0.63158em 1.05263em 0.47368em 0;
    margin: 0;
  }
}

@media (min-width: 769px) {
  .govuk-check-your-answers > *:first-child > * {
    padding-top: 0;
  }
}

.govuk-check-your-answers .cya-question {
  font-weight: bold;
  margin: 0.63158em 4em 0.21053em 0;
}

.govuk-check-your-answers > *:first-child .cya-question {
  margin-top: 0;
}

@media (min-width: 769px) {
  .govuk-check-your-answers.cya-questions-short,
  .govuk-check-your-answers.cya-questions-long {
    width: 100%;
  }
  .govuk-check-your-answers.cya-questions-short .cya-question {
    width: 30%;
  }
  .govuk-check-your-answers.cya-questions-long .cya-question {
    width: 50%;
  }
}

.govuk-check-your-answers .cya-answer {
  padding-bottom: 0.47368em;
}

.govuk-check-your-answers .cya-change {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 769px) {
  .govuk-check-your-answers .cya-change {
    position: static;
    padding-right: 0;
  }
}

/* Fix .header-user nav on IE */

.header-user .header-inner {
  max-width: 960px;
  margin: 0 15px;
}

@media (min-width: 641px) {
  .header-user .header-inner {
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  .header-user .header-inner {
    margin: 0 auto;
  }
}

/* Spaced table */

.table-spaced {
  margin-bottom: 0.75em;
}

@media (min-width: 641px) {
  .table-spaced {
    margin-bottom: 1.25em;
  }
}

/* Page navigation */

.page-navigation {
  padding-top: 10px;
}

.page-navigation .description {
  display: block;
}

.page-navigation .counter {
  display: block;
  font-size: 14px;
}

.page-navigation .previous,
.page-navigation .next {
  display: inline-block;
  font-size: 1em;
  margin-right: -4px;
  overflow: hidden;
  padding: 1.2em 0.6em;
  text-decoration: none;
  vertical-align: top;
  width: 50%;
  box-sizing: border-box;
  color: #005ea5;
}

.page-navigation .previous:hover,
.page-navigation .previous:focus,
.page-navigation .next:hover,
.page-navigation .next:focus {
  background-color: #f8f8f8;
  color: #2b8cc4;
  cursor: pointer;
}

.page-navigation .previous .arrow-button,
.page-navigation .next .arrow-button {
  float: left;
  font-size: 2.5em;
  line-height: 1;
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-navigation .next .arrow-button {
  float: right;
  margin-right: 0;
}

.page-navigation .previous {
  text-align: left;
}

.page-navigation .next {
  text-align: right;
}

.page-navigation .disabled,
.page-navigation .disabled > * {
  opacity: 0;
}

@font-face {
  font-family: 'fontello';
  src: url('../assets/stylesheets/fonts/fontello.eot?30491483');
  src: url('../assets/stylesheets/fonts/fontello.eot?30491483#iefix')
      format('embedded-opentype'),
    url('../assets/stylesheets/fonts/fontello.woff?30491483') format('woff'),
    url('../assets/stylesheets/fonts/fontello.ttf?30491483') format('truetype'),
    url('../assets/stylesheets/fonts/fontello.svg?30491483#fontello')
      format('svg');
  font-weight: normal;
  font-style: normal;
}
