
@model SFA.DAS.AssessorService.Web.ViewModels.Organisation.OrganisationSearchViewModel
@{
    ViewData["Title"] = "Request Received";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    <strong>Access requested</strong>
                </h1>
                <div class="govuk-panel__body">
                    You have requested access for<br />
                    <strong>@Model.Name</strong>
                </div>
            </div>

            <h2 class="govuk-heading-m">What happens next?</h2>
            <p class="govuk-body">
                The organisation has been sent your access request. If the organisation approves your request you will be notified by email.
            </p>
        </div>
    </div>
</main>