
@model SFA.DAS.AssessorService.Web.ViewModels.Organisation.OrganisationSearchViewModel
@{
    ViewData["Title"] = "Request Received";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Request Received</h1>
            <p class="govuk-body">We are dealing with your request; you will receive a confirmation email when you can access <b>@Model.Name's</b> End-point assessment services.</p>
        </div>
    </div>
</main>