
@model SFA.DAS.AssessorService.Web.ViewModels.Organisation.OrganisationSearchViewModel
@{
    ViewData["Title"] = "Request Received";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Request Received</h1>
        <p>We are dealing with your request; you will receive a confirmation email when you can access <b>@Model.Name's</b> End-point assessment services.</p>
    </div>
</div>