@model SFA.DAS.AssessorService.Web.ViewModels.Organisation.OrganisationSearchViewModel
@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Organisation search";
    Layout = "_DashboardLayout";

    bool showErrors = TempData["ShowErrors"] as bool? ?? false;

}

<div class="grid-row">
    <div class="column-two-thirds">
        <form method="get" asp-action="Results" class="js-disable-on-submit" asp-controller="OrganisationSearch" novalidate>

            @* hidden with css by default *@
            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid || showErrors)
            {
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There's a problem
                    </h2>
                    <ul class="error-summary-list">
                        <li><a sfa-validation-for="SearchString">Enter some text to identify your organisation</a></li>
                    </ul>
                </div>
            }

            <div sfa-anyvalidationerror-class="after-error-summary">
                <div class="form-group" sfa-validation-for="SearchString" sfa-validationerror-class="form-group-error">
                    <h1 class="heading-large">
                        Search for your organisation
                    </h1>
                    <label class="form-label" for="SearchString">
                        <p>Search using either the:</p>
                        <ul class="list list-bullet">
                            <li>organisation name</li>
                            <li>UK provider reference number (UKPRN)</li>
                            <li>end point assessor organisation identification number (EPAO ID)</li>
                            <li>company number</li>
                            <li>charity number</li>
                        </ul>
                        <span id="search-string-hint" class="form-hint">
                            A UKPRN consists of 8 numbers.<br />An EPAO ID consists of 3 letters and 4 numbers.
                        </span>
                        @if (!ViewData.ModelState.IsValid || showErrors)
                        {
                            <span id="search-string-error" class="error-message">
                                Enter some text to identify your organisation
                            </span>
                        }
                    </label>
                    <input class="form-control" sfa-validation-for="SearchString" sfa-validationerror-class="form-control-error" asp-for="SearchString" minlength="2" required />
                </div>
            </div>

            <button type="submit" class="button">Search</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}