
@model SFA.DAS.AssessorService.Web.ViewModels.Organisation.OrganisationSearchViewModel
@{
    ViewData["Title"] = "Access Denied";
    string epaoId = TempData["EpaoId"] as string;
}
<a asp-action="Results" asp-controller="OrganisationSearch" asp-route-searchString="@Model.SearchString" class="govuk-back-link">Back to search results</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" asp-action="Confirm" asp-controller="OrganisationSearch" class="js-disable-on-submit" novalidate>
                <input asp-for="SearchString" type="hidden" />
                <input asp-for="Name" type="hidden" />
                <input asp-for="Ukprn" type="hidden" />
                <input asp-for="OrganisationType" type="hidden" />
                <input asp-for="Postcode" type="hidden" />

                <h1 class="govuk-heading-xl">Access denied</h1>
                <p class="govuk-body">You do not have access to @epaoId's End-point assessment services.</p>
                <button type="submit" class="govuk-button">Send request now</button>
            </form>
        </div>
    </div>
</main>