@{
    ViewBag.Title = "Account home - Financial";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Account home</h1>
        <h2 class="heading-medium">Financial</h2>
        <h3 class="heading-small"><a asp-controller="Financial" asp-action="NewApplications">New applications</a></h3>
        <p>Review new applications to the register</p>
        <h3 class="heading-small"><a asp-controller="Financial" asp-action="PreviousApplications">Previous applications</a></h3>
        <p>Review previous applications to the register</p>
    </div>
</div>