@{
    ViewBag.Title = "Access denied";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">Access denied</h1>
        <p>Your account does not have sufficient privileges</p>

        <p>If you are experiencing difficulty accessing the area of the site you need, first contact an/the account owner to ensure you have the correct role assigned to your account.</p>
      
        <div class="form-group">
            <a asp-action="Index" asp-controller="Dashboard" class="button button-start">Go back to the dashboard</a>
        </div>
        
    </div>
</div>