@{
    ViewData["Title"] = "Sign in";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">View certificates</h1>
        <div class="form-group">
            <a asp-action="SignIn" asp-controller="Account" class="button">Sign In</a>
        </div>
    </div>
</div>