@{
    ViewData["Title"] = "Manage EPAO services";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Manage EPAO services</h1>
        <p>Use this service to:</p>
        <ul class="list list-bullet">
            <li>amend certificate information</li>
            <li>request duplicate certificates</li>
        </ul>
        <div class="form-group">
            <a asp-action="SignIn" asp-controller="Account" class="button button-start">Start now</a>
        </div>
    </div>
</div>