@model object

@{
    ViewBag.Title = "Invalid role";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">You aren't assigned the 'end point assessment' role in the Information Management Services system</h1>
        <p>You need to be given the 'end point assessment' role so you can start recording assessment grades and request certificates.</p>

        <p>To request permission, you need to:</p>
        <ol class="list list-number">
            <li>Do whatever you need to do to get the Assessor Service role on Staff Idams.</li>
        </ol>
    </div>
</div>
