@using SFA.DAS.AssessorService.Web.Staff.Controllers
@model RegisterOrganisationViewModel
@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Add organisation";
    Layout = "_Layout";
}

<a class="govuk-back-link" asp-action="Index" asp-controller="Register">Return to organisation search</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form class="add-organisation-form" asp-action="AddOrganisation" asp-controller="Register" method="POST">

                <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                    </div>
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li><a sfa-validation-for="Name"></a></li>
                                <li><a sfa-validation-for="CompanyNumber"></a></li>
                                <li><a sfa-validation-for="CharityNumber"></a></li>
                                <li><a sfa-validation-for="LegalName"></a></li>
                                <li><a sfa-validation-for="TradingName"></a></li>
                                <li><a sfa-validation-for="Address1"></a></li>
                                <li><a sfa-validation-for="Address2"></a></li>
                                <li><a sfa-validation-for="Address3"></a></li>
                                <li><a sfa-validation-for="Address4"></a></li>
                                <li><a sfa-validation-for="Postcode"></a></li>
                                <li><a sfa-validation-for="Ukprn"></a></li>
                                <li><a sfa-validation-for="OrganisationTypeId"></a></li>
                                <li><a sfa-validation-for="WebsiteLink"></a></li>
                            </ul>
                        </div>
                    </div>
                }

                <h1 class="govuk-heading-xl">Add an organisation</h1>

                <!-- Put in partial?? -->
                <div id="organisationWrapper">
                    <div class="govuk-form-group" sfa-validation-for="Name" sfa-validationerror-class="govuk-form-group--error">
                        <label class="govuk-label" for="Name">
                            Organisation name
                        </label>
                        <span class="govuk-error-message" asp-validation-for="Name"></span>
                        <input class="govuk-input" name="Name" sfa-validation-for="Name" sfa-validationerror-class="govuk-input--error" asp-for="Name" type="text" maxlength="100" />
                    </div>
                    <div class="govuk-form-group" sfa-validation-for="LegalName" sfa-validationerror-class="form-group-error">
                        <label class="govuk-label" for="LegalName">
                            Legal name (optional)
                        </label>
                        <span class="govuk-hint">if different from organisation name</span>
                        <span class="govuk-error-message" asp-validation-for="LegalName"></span>
                        <input class="govuk-input" name="LegalName" sfa-validation-for="LegalName" sfa-validationerror-class="govuk-input--error" asp-for="LegalName" type="text" />
                    </div>
                    <div class="govuk-form-group" sfa-validation-for="TradingName" sfa-validationerror-class="form-group-error">
                        <label class="govuk-label" for="TradingName">
                            Trading name (optional)
                        </label>
                        <span class="govuk-hint">if different from organisation name</span>
                        <span class="govuk-error-message" asp-validation-for="TradingName"></span>
                        <input class="govuk-input" name="TradingName" sfa-validation-for="TradingName" sfa-validationerror-class="govuk-input--error" asp-for="TradingName" type="text" />
                    </div>
                    <div class="govuk-form-group" sfa-validation-for="CompanyNumber" sfa-validationerror-class="form-group-error">
                        <label class="govuk-label" for="CompanyNumber">
                            Company number (optional)
                        </label>
                        <span class="govuk-error-message" asp-validation-for="CompanyNumber"></span>
                        <input class="govuk-input js-alphanumeric-only" name="CompanyNumber" sfa-validation-for="CompanyNumber" sfa-validationerror-class="govuk-input--error" asp-for="CompanyNumber" type="text" />
                    </div>
                    <div class="govuk-form-group" sfa-validation-for="CharityNumber" sfa-validationerror-class="form-group-error">
                        <label class="govuk-label" for="CharityNumber">
                            Charity number (optional)
                        </label>
                        <span class="govuk-error-message" asp-validation-for="CharityNumber"></span>
                        <input class="govuk-input" name="CharityNumber" sfa-validation-for="CharityNumber" sfa-validationerror-class="govuk-input--error" asp-for="CharityNumber" type="text" />
                    </div>
                    <div class="govuk-form-group" sfa-validation-for="Ukprn" sfa-validationerror-class="form-group-error">
                        <label class="govuk-label" for="Ukprn">
                            UKPRN (optional)
                        </label>
                        <span class="govuk-error-message" asp-validation-for="Ukprn"></span>
                        <input type="text" maxlength="8" class="govuk-input js-integers-only" name="Ukprn" sfa-validation-for="Ukprn" sfa-validationerror-class="govuk-input--error" asp-for="Ukprn" />
                    </div>
                    <div class="govuk-form-group" sfa-validation-for="OrganisationTypeId" sfa-validationerror-class="form-group-error">
                        <p class="govuk-body">Type of organisation</p>
                        @Html.HiddenFor(c => c.OrganisationTypes)
                        <span class="govuk-error-message" asp-validation-for="OrganisationTypeId"></span>
                        <div class="govuk-radios">
                            @foreach (var organisation in Model.OrganisationTypes)
                            {
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" asp-for="OrganisationTypeId" id="organisation-type-@organisation.Type.Replace(" ", "_")" type="radio" value="@organisation.Id" />
                                    <label class="govuk-label govuk-radios__label" for="organisation-type-@organisation.Type.Replace(" ", "_")">
                                        @organisation.Type
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="govuk-form-group" sfa-validation-for="WebsiteLink" sfa-validationerror-class="form-group-error">
                        <label class="govuk-label" for="WebsiteLink">
                            Website
                        </label>
                        <span class="govuk-error-message" asp-validation-for="WebsiteLink"></span>
                        <input class="govuk-input" name="WebsiteLink" sfa-validation-for="WebsiteLink" sfa-validationerror-class="govuk-input--error" asp-for="WebsiteLink" type="text" />
                    </div>
                    <div class="govuk-form-group" sfa-validation-for="Address1" sfa-validationerror-class="form-group-error">
                        <label class="govuk-label" for="Address1">
                            Street address
                        </label>
                        <span class="govuk-error-message" asp-validation-for="Address1"></span>
                        <input class="govuk-input" name="Address1" sfa-validation-for="Address1" sfa-validationerror-class="govuk-input--error" asp-for="Address1" type="text" />
                    </div>
                    <div class="govuk-form-group" sfa-validation-for="Address2" sfa-validationerror-class="form-group-error">
                        <label class="govuk-label" for="Address2">
                            <span class="form-label-bold visually-hidden">Address 2</span>
                        </label>
                        <span class="govuk-error-message" asp-validation-for="Address2"></span>
                        <input class="govuk-input" name="Address2" sfa-validation-for="Address2" sfa-validationerror-class="govuk-input--error" asp-for="Address2" type="text" />
                    </div>
                    <div class="govuk-form-group" sfa-validation-for="Address3" sfa-validationerror-class="form-group-error">
                        <label class="govuk-label" for="Address3">
                            <span class="form-label-bold visually-hidden">Address 3</span>
                        </label>
                        <span class="govuk-error-message" asp-validation-for="Address3"></span>
                        <input class="govuk-input" name="Address3" sfa-validation-for="Address3" sfa-validationerror-class="govuk-input--error" asp-for="Address3" type="text" />
                    </div>
                    <div class="govuk-form-group" sfa-validation-for="Address4" sfa-validationerror-class="form-group-error">
                        <label class="govuk-label" for="Address4">
                            City / Town
                        </label>
                        <span class="govuk-error-message" asp-validation-for="Address4"></span>
                        <input class="govuk-input" name="Address4" sfa-validation-for="Address4" sfa-validationerror-class="govuk-input--error" asp-for="Address4" type="text" />
                    </div>
                    <div class="govuk-form-group" sfa-validation-for="Postcode" sfa-validationerror-class="form-group-error">
                        <label class="govuk-label" for="Postcode">
                            Postcode
                        </label>
                        <span class="govuk-error-message" asp-validation-for="Postcode"></span>
                        <input class="govuk-input" name="Postcode" sfa-validation-for="Postcode" sfa-validationerror-class="govuk-input--error" asp-for="Postcode" type="text" />
                    </div>
                
                    <button class="govuk-button govuk-!-margin-right-1" type="submit">Save</button>
                    <a class="govuk-button govuk-button--secondary" asp-action="Index" asp-controller="Register">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}