@using SFA.DAS.AssessorService.Web.Staff.Controllers
@model RegisterOrganisationViewModel
@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Add organisation";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a asp-action="Index" asp-controller="Register" class="link-back">Return to organisation search</a>
        <form class="add-organisation-form" asp-action="AddOrganisation" asp-controller="Register" method="POST">

            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There's a problem
                    </h2>
                    <ul class="error-summary-list">
                        <li><a sfa-validation-for="Name"></a></li>
                        <li><a sfa-validation-for="LegalName"></a></li>
                        <li><a sfa-validation-for="Address1"></a></li>
                        <li><a sfa-validation-for="Address2"></a></li>
                        <li><a sfa-validation-for="Address3"></a></li>
                        <li><a sfa-validation-for="Address4"></a></li>
                        <li><a sfa-validation-for="Postcode"></a></li>
                        <li><a sfa-validation-for="Ukprn"></a></li>
                        <li><a sfa-validation-for="OrganisationTypeId"></a></li>
                        <li><a sfa-validation-for="WebsiteLink"></a></li>
                    </ul>
                </div>
            }

            <h1>
                <label class="form-label" for="">
                    <span class="heading-xlarge">Add an organisation</span>
                </label>
            </h1>

            <div id="organisationWrapper">
                <div class="form-group" sfa-validation-for="Name" sfa-validationerror-class="form-group-error">
                    <label for="Name">
                        <span class="form-label-bold">Organisation name</span>
                        <span class="error-message" asp-validation-for="Name"></span>
                    </label>
                    <input class="form-control" name="Name" sfa-validation-for="Name" sfa-validationerror-class="form-control-error" asp-for="Name" type="text" />
                </div>
                <div class="form-group" sfa-validation-for="LegalName" sfa-validationerror-class="form-group-error">
                    <label for="LegalName">
                        <span class="form-label-bold">Legal name (optional)</span>
                        <span class="form-hint">if different from organisation name</span>
                        <span class="error-message" asp-validation-for="LegalName"></span>
                    </label>
                    <input class="form-control" name="LegalName" sfa-validation-for="LegalName" sfa-validationerror-class="form-control-error" asp-for="LegalName" type="text" />
                </div>
                <div class="form-group" sfa-validation-for="Ukprn" sfa-validationerror-class="form-group-error">
                    <label for="Ukprn">
                        <span class="form-label-bold">UKPRN (optional)</span>
                        <span class="error-message" asp-validation-for="Ukprn"></span>
                    </label>
                    <input class="form-control" name="Ukprn" sfa-validation-for="Ukprn" sfa-validationerror-class="form-control-error" asp-for="Ukprn" type="text" />
                </div>
                <div class="form-group" sfa-validation-for="OrganisationTypeId" sfa-validationerror-class="form-group-error">
                    <span class="form-label-bold">Type of organisation</span>
                    <span class="error-message" asp-validation-for="OrganisationTypeId"></span>
                    @Html.HiddenFor(c => c.OrganisationTypes)
                    @foreach (var organisation in Model.OrganisationTypes)
                    {
                        <div class="multiple-choice">
                            <input asp-for="OrganisationTypeId" id="organisation-type-@organisation.Type.Replace(" ", "_")" type="radio" value="@organisation.Id" />
                            <label for="@organisation.Type.Replace(" ", "_")">
                                @organisation.Type
                            </label>
                        </div>
                    }
                </div>
                <div class="form-group" sfa-validation-for="WebsiteLink" sfa-validationerror-class="form-group-error">
                    <label for="WebsiteLink">
                        <span class="form-label-bold">Website</span>
                        <span class="error-message" asp-validation-for="WebsiteLink"></span>
                    </label>
                    <input class="form-control" name="WebsiteLink" sfa-validation-for="WebsiteLink" sfa-validationerror-class="form-control-error" asp-for="WebsiteLink" type="text" />
                </div>
                <div class="form-group" sfa-validation-for="Address1" sfa-validationerror-class="form-group-error">
                    <label for="Address1">
                        <span class="form-label-bold">Street address</span>
                        <span class="error-message" asp-validation-for="Address1"></span>
                    </label>
                    <input class="form-control" name="Address1" sfa-validation-for="Address1" sfa-validationerror-class="form-control-error" asp-for="Address1" type="text" />
                </div>
                <div class="form-group" sfa-validation-for="Address2" sfa-validationerror-class="form-group-error">
                    <label for="Address2">
                        <span class="form-label-bold visually-hidden">Address 2</span>
                        <span class="error-message" asp-validation-for="Address1"></span>
                    </label>
                    <input class="form-control" name="Address2" sfa-validation-for="Address2" sfa-validationerror-class="form-control-error" asp-for="Address2" type="text" />
                </div>
                <div class="form-group" sfa-validation-for="Address3" sfa-validationerror-class="form-group-error">
                    <label for="Address1">
                        <span class="form-label-bold visually-hidden">Address 3</span>
                        <span class="error-message" asp-validation-for="Address3"></span>
                    </label>
                    <input class="form-control" name="Address3" sfa-validation-for="Address3" sfa-validationerror-class="form-control-error" asp-for="Address3" type="text" />
                </div>
                <div class="form-group" sfa-validation-for="Address4" sfa-validationerror-class="form-group-error">
                    <label for="Address4">
                        <span class="form-label-bold">Town / City</span>
                        <span class="error-message" asp-validation-for="Address4"></span>
                    </label>
                    <input class="form-control" name="Address4" sfa-validation-for="Address4" sfa-validationerror-class="form-control-error" asp-for="Address4" type="text" />
                </div>
                <div class="form-group" sfa-validation-for="Postcode" sfa-validationerror-class="form-group-error">
                    <label for="Postcode">
                        <span class="form-label-bold">Postcode</span>
                        <span class="error-message" asp-validation-for="Postcode"></span>
                    </label>
                    <input class="form-control" name="Postcode" sfa-validation-for="Postcode" sfa-validationerror-class="form-control-error" asp-for="Postcode" type="text" />
                </div>
                <div class="form-group">
                    <button class="button" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>