@model SFA.DAS.AssessorService.Api.Types.Models.AssessmentOrgsImportResponse
@{
    ViewBag.Title = "ImPage";
    Layout = "_Layout";
}


<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body-l">Status: @Model.Status</p>

            <a class="govuk-button" href="/register/impage-DoIt">Import Details</a>
        </div>
    </div>
</main>

