@model SFA.DAS.AssessorService.Api.Types.Models.AssessmentOrgsImportResponse
@{
    ViewBag.Title = "ImPage";
    Layout = "_Layout";
}



<br/>
<br/>
<br/>

<a class="button" href="/register/impage-DoIt">Import Details</a>
<br/>
<br/>
<br/>
Status: @Model.Status

