@model SFA.DAS.AssessorService.Web.Staff.Models.SearchStandardsViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Standard search";
    Layout = "_Layout";
}

<a class="govuk-back-link" href="/register/view-organisation/@Model.OrganisationId">Return to organisation view</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form class="register-search-form" asp-action="SearchStandardsResults" asp-controller="Register" method="get">
                @Html.HiddenFor(c => c.OrganisationId)

                <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                    </div>
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li><a sfa-validation-for="StandardSearchString"></a></li>
                            </ul>
                        </div>
                    </div>
                }

                <h1 class="govuk-label-wrapper">
                    <span class="govuk-caption-xl">@Model.OrganisationId</span>
                    <label class="govuk-label govuk-label--xl" for="StandardSearchString">
                        Add a standard to @Model.OrganisationName
                    </label>
                </h1>

                <p class="govuk-body">Search for a standard using either the:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Standard ID</li>
                    <li>Name</li>
                </ul>

                <div class="govuk-form-group" sfa-validation-for="SearchString" sfa-anyvalidationerror-class="govuk-form-group--error">
                    <span class="govuk-hint">
                        Standard ID must be a number
                    </span>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="govuk-error-message" asp-validation-for="StandardSearchString"></span>
                    }
                    <input class="govuk-input" asp-for="StandardSearchString" name="StandardSearchString" sfa-validationerror-class="govuk-input--error" type="text" />
                </div>
                <button class="govuk-button" type="submit">Search<span class="visually-hidden"> for a standard to add</span></button>
            </form>

        </div>
    </div>
</main>