@{
    Layout = "~/Views/Shared/_ErrorPageLayout.cshtml";
    ViewBag.Title = "Service unavailable";
}

<h1 class="heading-large">Sorry, this service is unavailable</h1>

<p>Try again later.</p>

           