﻿@{
    ViewData["Title"] = "Accessibility statement - Apprenticeship assessment service - GOV.UK";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Accessibility statement</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-column-two-thirds">
            <p class ="govuk-body">
                This accessibility statement applies to Find an apprenticeship.
            </p>
            <p class="govuk-body">
                This website is run by the Department for Education. We want as
                many people as possible to be able to use this website. For example, that means you
                should be able to:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 300% without the text spilling off the screen</li>
                <li>navigate most of the website using just a keyboard</li>
                <li>navigate most of the website using speech recognition software</li>
                <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            </ul>
            <p class="govuk-body">
                We've also made the website text as simple as possible to understand.
            </p>
            <p class="govuk-body">
                <a href="https://mcmw.abilitynet.org.uk/" target="_blank" rel="noopner noreferrer">AbilityNet</a> has advice on making your device easier to use if
                you have a disability.
            </p>

            <h2 class="govuk-heading-l">Feedback and contact information</h2>
            <p class="govuk-body">
                If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:
                <ul class="govuk-list govuk-list--bullet">
                    <li>email <a rel="noopner noreferrer" target="_blank" href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a></li>
                    <li>call <a href="tel:08000 150 600">08000 150 600</a></li>
                </ul>
            </p>

            <p class="govuk-body">
                We'll consider your request and get back to you in 5 days.
            </p>
            <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>
            <p class="govuk-body">
                We're always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we're not meeting accessibility requirements, contact the Apprenticeship Service Helpdesk:
                <ul class="govuk-list govuk-list--bullet">
                    <li>email <a rel="noopner noreferrer" target="_blank" href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a></li>
                    <li>call <a href="tel:08000 150 600">08000 150 600</a></li>
                </ul>
            </p>
            <h2 class="govuk-heading-l">Enforcement procedure</h2>
            <p class="govuk-body">
                The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations').
                If you're not happy with how we respond to your complaint,
                <a rel="noopner noreferrer" href="https://www.equalityadvisoryservice.com/" target="_blank">
                    contact the Equality Advisory and Support Service (<abbr title="Equality Advisory and Support Service">EASS</abbr>)
                </a>.
            </p>

            <h2 class="govuk-heading-l">Compliance status</h2>
            <p class="govuk-body">
                This website is fully compliant with the <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> version 2.1 AA standard.
            </p>

            <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
            <p class="govuk-body">
                This statement was prepared on 6 June 2023. This statement hasn't been reviewed since being published.
            </p>
            <p class="govuk-body">
                This website was last tested on 6 June 2023. The test was carried out by the Department for Education Apprenticeship service. We used the following methods:
                <ul class="govuk-list govuk-list--bullet">
                    <li>automated testing tools</li>
                    <li>manual testing</li>
                </ul>
            </p>
            <p class="govuk-body">
                We individually tested all the different page types within our service.
            </p>
        </div>
    </div>
</main>