@{
    ViewData["Title"] = "Not registered as an end-point assessment organisation";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">Access denied</h1>
        <p>Your account has been deleted</p>
    </div>
</div>