@{
    ViewData["Title"] = "Not registered as an end-point assessment organisation";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Access denied</h1>
            <p class="govuk-body">Your account has been deleted</p>
        </div>
    </div>
</main>