@{
    ViewData["Title"] = "Contact the National Apprenticeship Helpdesk";
    Layout = "_Layout";
}
<a class="govuk-back-link" asp-controller="Dashboard" asp-action="Index">Home</a>
@{await Html.RenderPartialAsync("_ContactUsPartial");}