@{
    ViewData["Title"] = "Contact the EPAO service helpdesk";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Contact the EPAO service helpdesk to get help</h1>
        <h2 class="heading-medium">EPAO service helpdesk</h2>
        <p><a href="mailto:epao.helpdesk@education.gov.uk">epao.helpdesk@education.gov.uk</a></p>
        <p>
            Telephone: 0738 452 1167<br />
            Tuesday to Friday, 8am to 5pm
        </p>
        <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
    </div>
</div>