@{
    ViewData["Title"] = "Help";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">Record apprentice end-point assessment grades help</h1>

        <p>Contact the EPAO service helpdesk on:</p>
        <ul class="list list-bullet">
            <li>08000 150 600</li>
            <li><a href="mailto:helpdesk@epao.service.gov.uk">helpdesk@epao.service.gov.uk</a></li>
        </ul>
         
    </div>
</div>