@{
    ViewData["Title"] = "Record apprentice end-point assessment grades";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Record apprentice end-point assessment grades</h1>
      <p><a href="“https://www.gov.uk/guidance/register-of-end-point-assessment-organisations”">Registered end-point assessment organisations</a> can use this service to:</p>
      <ul class="list list-bullet">
        <li>record grades for a government funded apprenticeship</li>
        <li>request a certificate</li>
      </ul>
      <p>You cannot use this service to request a certificate for a:</p>
      <ul class="list list-bullet">
        <li><a href="#">privately funded apprenticeship</a></li>
        <li><a href="https://acecerts.co.uk/web/apprentice-application-form">framework based apprenticeship</a></li>
      </ul>
      <h2 class="heading-medium">Before you start</h2>

      <p>You need:</p>
      <ul class="list list-bullet">
        <li>permission from the apprentice for you to apply for a certificate on their behalf</li>
        <li>the unique learner number (ULN) for the apprentice</li>
        <li>an <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency">Information Management Services (IDAMS)</a> account</li>
      </ul>

      <p><a asp-action="SignIn" asp-controller="Account" class="button button-start">Start <span class="visuallyhidden">recording apprentice end-point assessment grades </span>now</a></p>

      <h2 class="heading-medium">More information</h2>
      <p>Contact the National Apprenticeship Service for help.</p>
      <h2 class="heading-medium">National Apprenticeship Service</h2>
      <p>Telephone: 08000 150 600</p>
      <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
    </div>
</div>