@{
    ViewData["Title"] = "Apprenticeship assessment service";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">Apprenticeship assessment service</h1>
        <p>Use this service to apply to become and end point assessor, you will be able to:</p>
        <ul class="list list-bullet">
            <li>apply for standards to assess</li>
            <li>manage your pipeline of assessments</li>
            <li>record assessments and issue certificates</li>
        </ul>

        <p>The initial application takes approximately 15 minutes.</p>

        <div class="grid-row">          
            <div class="column-full">
                <div>
                    <a asp-action="SignIn" asp-controller="Account" class="button button-start">Start now</a>  
                </div>
                <div>
                    <a class="link das-inline-button-link" asp-action="CreateAnAccount" asp-controller="Account">create an account</a>
                </div>
            </div>
        </div>

        <h2 class="heading-medium">Before you start</h2>
        <p>To get on the register of end point assessment organisations, you need to complete a two-stage process.</p>

        <ul class="list list-bullet">
            <li>Stage1:  <a href="https://www.gov.uk/guidance/register-of-end-point-assessment-organisations#how-to-apply-to-the-register-of-end-point-assessment-organisations" target="_blank"> Read the pre-application guidance</a> on how to set up your organisation's account.</li>
            <li>Stage2:  <a href="https://www.gov.uk/guidance/register-of-end-point-assessment-organisations#how-to-apply-to-the-register-of-end-point-assessment-organisations" target="_blank"> Read the pre-application guidance</a> on your organisation's capabilities and capacity to assess a standard.</li>
        </ul>
    </div>
</div>