@{
    ViewData["Title"] = "Record apprentice end-point assessment grades";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Record apprentice end-point assessment grades</h1>
      <h2 class="heading-medium">Before you start</h2>
      <ul class="list list-bullet">
        <li>you can only apply for a certificate once an apprentice has successfully completed their end-point assessment</li>
        <li>apprentices must have given you permission to process their certificate</li>
        <li>you cannot use this service to record grades for privately-funded apprenticeships</li>
      </ul>
      <p>You need to have an account with the government's <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency">Information Management Services</a> system to use this.</p>
      <p><a asp-action="SignIn" asp-controller="Account" class="button button-start">Start <span class="visuallyhidden">recording apprentice end-point assessment grades </span>now</a>  </p>
    </div>
</div>