@{
    ViewData["Title"] = "Apprenticeship assessment service";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">Apprenticeship assessment service</h1>
        <p>Use this service to apply to become an end-point assessor, you will be able to:</p>

        <div class="form-group">
            <ul class="list list-bullet">
                <li>apply for standards to assess</li>
                <li>view your pipeline of assessments</li>
                <li>record assessments and issue certificates</li>
            </ul>
        </div>

        <a asp-action="SignIn" asp-controller="Account" class="button button-start">Start now</a>
        <span class="das-inline-button-link"> or <a class="govuk-link" asp-action="CreateAnAccount" asp-controller="Account">create an account</a></span>

        <h2 class="heading-medium">Before you start</h2>

        <p>To get on the register of end-point assessment organisations you need to complete a two-stage process:</p>
        <ul class="list list-number">
            <li>Set up your organisation's account</li>
            <li>Prove your organisation’s capabilities and capacity to assess a standard</li>
        </ul>
         <p>It is advisable to <a href="https://www.gov.uk/guidance/register-of-end-point-assessment-organisations#how-to-apply-to-the-register-of-end-point-assessment-organisations" target="_blank">read the pre-application guidance</a> before you start.</p>
    </div>
</div>