@{
    ViewData["Title"] = "Add and print apprentice's certificates as an End Point Assessor Organisation";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Record end-point assessment outcome</h1>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
      <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>record apprenticeship assessment results</li>
        <li>search for organisations you are working with</li>
        <!-- <li>something about the employer</li> -->
      </ul>

      <p>
        <!-- <a class="button button-start" href="/sign-in" role="button">Start now</a> -->
        <a asp-action="SignIn" asp-controller="Account" class="button button-start">Start <span class="visuallyhidden">the end-point assessment service </span>now</a> 
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>You need a security role (EPAO role permission name here) from <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency">Education and Skills Funding Agency</a>.</p>

    </div>
    <div class="column-one-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="https://www.gov.uk/government/collections/register-of-apprentice-assessment-organisations">Register of apprentice assessment organisations</a></li>
            <!-- <li><a href="#">Related link</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li> -->
          </ul>
        </nav>
      </aside>
    </div>
</div>