@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <h1>Amazing Landing Page</h1>
    <br />
    
    <a asp-action="Index" asp-controller="Organisation">Click here to Sign In</a> .
</div>
