@model object

@{
    ViewBag.Title = "Invalid role";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">Invalid Role</h1>
        <p>You need a security role from <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency">Education and Skills Funding Agency</a>.</p>
    </div>
</div>
