@model object

@{
    ViewBag.Title = "Invalid role";
    Layout = "_UnAuthLayout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Invalid Role</h1>
    </div>
</div>
