@model object

@{
    ViewBag.Title = "Invalid role";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">You aren't assigned the 'end point assessment' role in the Information Management Services system</h1>
            <p class="govuk-body">You need to be given the 'end point assessment' role so you can start recording assessment grades and request certificates.</p>
            <p class="govuk-body">To request permission, you need to:</p>
            <ol class="govuk-list govuk-list--number">
                <li><a class="govuk-link" href="https://logon.fasst.org.uk/">Sign in to Information Management Services (IDAMS)</a>.</li>
                <li>Select 'My identity'.</li>
                <li>Click the 'Add a new permission' link.</li>
                <li>Search for 'End Point Assessment'.</li>
            </ol>
        </div>
    </div>
</main>
