@model string
@{
    ViewData["Title"] = "Invitation Pending";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Invitation pending</h1>
            <p class="govuk-body">Your request to access @Model account is pending approval.</p>
            <p class="govuk-body">You will be notified by email when permission is approved.</p>
    </div>
</div>