@model string
@{
    ViewData["Title"] = "Invitation Pending";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">Invitation pending</h1>
        <p>Your request to access @Model account is pending approval.</p>
        <p>You will be notified by email when permission is approved.</p>
    </div>
</div>