@model SFA.DAS.AssessorService.Api.Types.Models.GetEpaoRegisteredStandardsResponse

@{
    ViewBag.Title = "Not activated";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">Not activated</h1>
        @if (Model != null)
        {
            <p>Your application to assess @Model.StandardName has been approved.</p>
        }
        else
        {
            <p>Your application has been approved.</p>
        }
        <p>Before we can add your organisation to the Register, remember to sign and return the conditions of acceptance letter to <a href="mailto:apprentice.assessment@education.gov.uk">apprentice.assessment@education.gov.uk</a></p>
    </div>
</div>