@{
    ViewBag.Title = "Not activated";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Your application is currently being reviewed</h1>
            
            <p class="govuk-body">We are in the process of onboarding your organisation</p>
            <p class="govuk-body">If you have any further queries contact our helpdesk:</p>
            <p class="govuk-body">Email: <a class="govuk-link" href=mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a></p>
            <p class="govuk-body">Telephone: 08000 150 600</p>
        </div>
    </div>
</main>