@{
    ViewData["Title"] = "Not registered as an end-point assessment organisation";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">Not registered</h1>
        <p>You are not registered as an end-point assessment organisation (EPAO)</p>
        <p><a href="https://www.gov.uk/government/publications/register-of-apprentice-assessment-organisations-how-to-apply">Information on how to apply to become an EPAO</a></p>
    </div>
</div>