@{
    ViewData["Title"] = "Add and print apprentice's certificates as an End Point Assessor Organisation";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">You are not registered as an EPAO</h1>
    </div>
</div>