@{ 
    ViewData["Title"] = "Privacy";
    Layout = "_Layout";
}

<a class="govuk-back-link" asp-controller="Dashboard" asp-action="Index">Home</a>

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                Privacy
            </h1>

            <h3 class="govuk-heading-m">How we use your personal information</h3>

            <p class="govuk-body">The apprenticeship assessment service is run by the Education and Skills Funding Agency (ESFA), an executive agency of the Department for Education (DfE).</p>
            <p class="govuk-body">This privacy notice explains how we (<abbr title="Department for Education">DfE</abbr> and <abbr title="Education and Skills Funding Agency">ESFA</abbr>) use your personal information.</p>
            <p class="govuk-body">For the purposes of relevant data protection legislation, DfE is the data controller for personal information it processes, so that it can carry out its functions.</p>
            <p class="govuk-body">Where you register on the service the personal information you give us will be used for administration and research purposes.</p>

            <h3 class="govuk-heading-m">How long we hold personal information</h3>

            <p class="govuk-body">We’ll retain the personal information for administration purposes only for as long as necessary. Personal data required for research purposes may be retained indefinitely.</p>

            <h3 class="govuk-heading-m">Who we share your personal information with</h3>

            <p class="govuk-body">We may share your information where the law allows it to enable the running of the apprenticeship assessment service, or where we have a legal obligation to do so.</p>

            <h3 class="govuk-heading-m">Your individual rights</h3>

            <p class="govuk-body">You have the right to:</p>
            <ul class="govuk-list  govuk-list--bullet">
                <li>request a copy of personal information that we hold about you</li>
                <li>request that we correct any wrong or incomplete personal information</li>
            </ul>
            <p class="govuk-body">You can access the information we hold on you by signing in to your account.</p>

            <h3 class="govuk-heading-m">How to complain</h3>

            <p class="govuk-body">Contact us using our <a href="https://www.education.gov.uk/contactus/efa" class="govuk-link" rel="nofollow">secure online contact form</a> or by writing to:</p>
            <p class="govuk-body">
                Ministerial and Public Communications Division<br>
                Department for Education<br>
                Piccadilly Gate Store Street<br>
                Manchester<br>
                M1 2WD
            </p>
            <p class="govuk-body">If you wish to contact the DfE’s data protection officer, please use the secure online form or write to the address above.</p>
            <p class="govuk-body">You also have the right to complain to the <a href="https://ico.org.uk/concerns/" class="govuk-link" rel="nofollow">Information Commissioner’s Office</a>.</p>
        </div>
    </div>
</main>