@{ 
    ViewData["Title"] = "Privacy and cookies";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Privacy and cookies</h1>

        <p>The end-point assessor application puts small files (known as 'cookies') onto your computer to collect information
            about how you browse the site.</p>
        <p>Cookies are used to:</p>
        <ul class="list list-bullet">
            <li>measure how you use the website so it can be updated and improved based on your needs</li>
            <li>remember the notifications you’ve seen so that we don’t show them to you again</li>
            <li>remember you while you’re changing your GOV.UK email subscriptions</li>
        </ul>
        <p>Find out more about
            <a rel="external" href="https://ico.org.uk/for-the-public/online/cookies/">how to manage cookies</a>.</p>

        <h2 class="heading-large" id="how-cookies-are-used-on-govuk">How cookies are used on the end-point assessor application</h2>

        <h3 class="heading-medium" id="our-introductory-message">Our introductory message</h3>

        <p>You may see a pop-up welcome message when you first visit GOV.UK. We’ll store a cookie so that your computer knows
            you’ve seen it and knows not to show it again.</p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>seen_cookie_message</td>
                    <td>Saves a message to let us know that you’ve seen our cookie message</td>
                    <td>1 month</td>
                </tr>
            </tbody>
        </table>

        <h3 class="heading-medium" id="measuring-website-usage-google-analytics">Measuring website usage (Google Analytics)</h3>

        <p>We use Google Analytics software to collect information about how you use GOV.UK. We do this to help make sure the
            site is meeting the needs of its users and to help us make improvements, for example
            <a rel="external" href="https://insidegovuk.blog.gov.uk/2015/03/26/new-tool-to-see-trending-searches/">improving site search</a>.</p>

        <p>Google Analytics stores information about:</p>

        <ul class="list list-bullet">
            <li>the pages you visit on GOV.UK</li>
            <li>how long you spend on each GOV.UK page
            </li>
            <li>how you got to the site
            </li>
            <li>what you click on while you’re visiting the site</li>
        </ul>

        <p>We don’t collect or store your personal information (for example your name or address) so this information can’t
            be used to identify who you are.</p>

        <div role="note" aria-label="Information" class="application-notice info-notice">
            <p>We don’t allow Google to use or share our analytics data.</p>
        </div>

        <p>Google Analytics sets the following cookies:</p>

        <h3 class="heading-medium" id="universal-analytics">Universal Analytics</h3>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>_ga</td>
                    <td>This helps us count how many people visit GOV.UK by tracking if you’ve visited before</td>
                    <td>2 years</td>
                </tr>
                <tr>
                    <td>_gid</td>
                    <td>This helps us count how many people visit GOV.UK by tracking if you’ve visited before</td>
                    <td>24 hours</td>
                </tr>
                <tr>
                    <td>_gat</td>
                    <td>Used to manage the rate at which page view requests are made</td>
                    <td>10 minutes</td>
                </tr>
            </tbody>
        </table>

        <h3 class="heading-medium" id="google-analytics">Google Analytics</h3>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>_utma</td>
                    <td>Like _ga, this lets us know if you’ve visited before, so we can count how many of our visitors are new
                        to GOV.UK or to a certain page</td>
                    <td>2 years</td>
                </tr>
                <tr>
                    <td>_utmb</td>
                    <td>This works with _utmc to calculate the average length of time you spend on GOV.UK</td>
                    <td>30 minutes</td>
                </tr>
                <tr>
                    <td>_utmc</td>
                    <td>This works with _utmb to calculate when you close your browser</td>
                    <td>When you close your browser</td>
                </tr>
                <tr>
                    <td>_utmz</td>
                    <td>This tells us how you reached GOV.UK (for example from another website or a search engine)</td>
                    <td>6 months</td>
                </tr>
            </tbody>
        </table>

        <h3 class="heading-medium" id="govuk-events">GOV.UK events</h3>

        <table class="table-spaced" ß>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>analytics_next_page_call</td>
                    <td>This lets us know the next page you visit on GOV.UK, so we can make journeys better</td>
                    <td>When you close your browser</td>
                </tr>
                <tr>
                    <td>govuk_contact_referrer</td>
                    <td>This lets us know the last page you visited before using the contact GOV.UK form</td>
                    <td>1 day</td>
                </tr>
            </tbody>
        </table>

        <p>You can
            <a rel="external" href="https://tools.google.com/dlpage/gaoptout">opt out of Google Analytics cookies</a>.</p>

        <h3 class="heading-medium" id="end-point-assessor-cookies">Cookies used only by the end-point assessor application</h3>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Assessors.Cookies</td>
                    <td>This helps us to manage the session</td>
                    <td>When you close your browser</td>
                </tr>
                <tr>
                    <td>Assessors.Session</td>
                    <td>This helps us to manage the application data</td>
                    <td>When you close your browser</td>
                </tr>
                <tr>
                    <td>Assessors.AntiForgery</td>
                    <td>This helps to protect the application against cross site request forgery</td>
                    <td>When you close your browser</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>