@{ 
    ViewData["Title"] = "Privacy";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Privacy notice</h1>
        <p>The Education and Skills Funding Agency (ESFA) runs this service. We handle the information you give us according to the <a href="https://www.gov.uk/government/publications/esfa-privacy-notice">ESFA privacy notice</a>.</p>
    </div>
</div>