@model string
@{
    ViewData["Title"] = "Request rejected";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Request to access rejected</h1>
            <p class="govuk-body">Your request to access @Model account has been rejected.</p>
        </div>
    </div>
</main>