@model string
@{
    ViewData["Title"] = "Request Rejected";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">Request to access rejected</h1>
        <p>Your request to access @Model account has been rejected.</p>
    </div>
</div>