@model SFA.DAS.AssessorService.Web.Controllers.ManageUsers.ViewModels.InvitedViewModel

@{
    ViewBag.Title = "Invited";
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span>User invited</span>
            
            <div>
                <p>You have invited</p>
                <p>@Model.Email</p>
            </div>
            
            <div>
                <p>To join organisation</p>
                <p>@Model.Organisation</p>
            </div>
            
            <p>What do you want to do next?</p>
            <a asp-controller="InviteUser" asp-action="Invite">Invite someone else</a>
            <a asp-controller="Dashboard" asp-action="Index">Back to dashboard</a>
            <a asp-controller="ManageUsers" asp-action="Index">View user list</a>
        </div>
    </div>
</main>