@model SFA.DAS.AssessorService.Web.Controllers.ManageUsers.ViewModels.InvitedViewModel

@{
    ViewBag.Title = "Invited";
    Layout = "_DashboardLayout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    User invited
                </h1>
                <div class="govuk-panel__body">
                    <div class="govuk-!-margin-bottom-6">
                        You have invited<br>
                        <strong>@Model.Email</strong>
                    </div>
                    <div>
                        To join organisation<br>
                        <strong>@Model.Organisation</strong>
                    </div>
                </div>
            </div>

            <p class="govuk-body">We have sent a confirmation email.</p>
            
            <h2 class="govuk-heading-m">What do you want to do next?</h2>

            <ul class="govuk-list">
                <li>
                    <a asp-controller="InviteUser" asp-action="Invite" class="govuk-link">Invite someone else</a>
                </li>
                <li>
                    <a asp-controller="Dashboard" asp-action="Index" class="govuk-link">Back to dashboard</a>
                </li>
                <li>
                    <a asp-controller="ManageUsers" asp-action="Index" class="govuk-link">View user list</a>
                </li>
            </ul>

        </div>
    </div>
</main>