@model List<SFA.DAS.AssessorService.Api.Types.Models.Apply.SequenceSummary>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Application Overview</h1>

<ul>

@foreach (var sequence in Model)
{
    <li>
        @if (sequence.Active)
        {
            <h2><a href="@Url.Action("Sequence", "Sequence", new {sequenceId = sequence.SequenceId})">@sequence.Title</a></h2>   
        }
        else
        {
            <h2>@sequence.Title</h2>
            <button class="btn btn-block" disabled="disabled">Can't start yet</button>
        }
        
    </li>
}
</ul>