
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<form method="post" asp-action="StartApplicant" asp-controller="Apply">
    <button type="submit">Applicant</button><br/>
</form>

<form method="post" asp-action="StartAdmin" asp-controller="Apply">
    <button type="submit">Admin</button><br/>
</form>