/* Cookie banner */

/* Global cookie message */

.js-enabled .das-cookie-banner {
  display: none;
  /* shown with JS, always on for non-JS */
}

.das-cookie-banner {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  color: #0b0c0c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #d5e8f3;
}

@media print {
  .das-cookie-banner {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .das-cookie-banner {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .das-cookie-banner {
    font-size: 14pt;
    line-height: 1.2;
  }
}

@media print {
  .das-cookie-banner {
    color: #000;
  }
}

.das-cookie-banner {
  display: none;
}

@media print {
  .das-cookie-banner {
    display: none !important;
  }
}

/* Application styles */

.das-inline-button-link {
  display: inline-block;
  padding: 0.526315em 0 0.263157em 0;
  line-height: 1.25;
}

@media (min-width: 40.0625em) {
  .das-inline-button-link {
    padding-left: 0.526315em;
  }
}

.govuk-button--looks-like-link {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: underline;
  background: none;
  box-shadow: none;
  text-align: left;
  color: #005ea5;
}

.govuk-button--looks-like-link:hover,
.govuk-button--looks-like-link:active {
  top: 0;
  background: none;
  color: #2b8cc4;
  text-decoration: underline;
}

.govuk-button--looks-like-link:focus {
  background: #ffbf47;
}

.govuk-button--looks-like-link:visited {
  color: #4c2c92;
}

.das-no-wrap {
  white-space: nowrap;
}

.app-check-your-answers {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 40px;
}

@media print {
  .app-check-your-answers {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-check-your-answers {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .app-check-your-answers {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .app-check-your-answers {
    margin-bottom: 60px;
  }
}

@media (min-width: 48.0625em) {
  .app-check-your-answers {
    display: table;
  }
}

@media (min-width: 48.0625em) {
  .app-check-your-answers--short {
    width: 100%;
  }

  .app-check-your-answers--short .app-check-your-answers__question {
    width: 30%;
  }
}

@media (min-width: 48.0625em) {
  .app-check-your-answers--long {
    width: 100%;
  }

  .app-check-your-answers--long .app-check-your-answers__question {
    width: 50%;
  }
}

.app-check-your-answers__contents {
  position: relative;
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 48.0625em) {
  .app-check-your-answers__contents {
    display: table-row;
    border-bottom-width: 0;
  }
}

@media (min-width: 48.0625em) {
  .app-check-your-answers__contents:first-child
    .app-check-your-answers__question,
  .app-check-your-answers__contents:first-child .app-check-your-answers__answer,
  .app-check-your-answers__contents:first-child
    .app-check-your-answers__change {
    padding-top: 0;
  }
}

.app-check-your-answers__question,
.app-check-your-answers__answer,
.app-check-your-answers__change {
  display: block;
  margin: 0;
}

@media (min-width: 48.0625em) {
  .app-check-your-answers__question,
  .app-check-your-answers__answer,
  .app-check-your-answers__change {
    display: table-cell;
    border-bottom: 1px solid #bfc1c3;
    padding: 0.63158em 1.05263em 0.47368em 0;
  }
}

.app-check-your-answers__question {
  font-weight: bold;
  margin: 0.63158em 4em 0.21053em 0;
}

.app-check-your-answers__answer {
  padding-bottom: 0.47368em;
}

.app-check-your-answers__change {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 48.0625em) {
  .app-check-your-answers__change {
    position: static;
    padding-right: 0;
  }
}

.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .app-task-list {
    min-width: 550px;
  }
}

.app-task-list__section {
  display: table;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.11111;
}

@media print {
  .app-task-list__section {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__section {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media print {
  .app-task-list__section {
    font-size: 18pt;
    line-height: 1.15;
  }
}

.app-task-list__section-number {
  display: table-cell;
}

@media (min-width: 40.0625em) {
  .app-task-list__section-number {
    min-width: 30px;
    padding-right: 0;
  }
}

.app-task-list__items {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 40px;
  list-style: none;
  padding-left: 0;
}

@media print {
  .app-task-list__items {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .app-task-list__items {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    margin-bottom: 60px;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    padding-left: 30px;
  }

  .app-task-list__items--no-number {
    padding-left: 0;
  }
}

.app-task-list__item {
  border-bottom: 1px solid #bfc1c3;
  margin-bottom: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-task-list__item:after {
  content: "";
  display: block;
  clear: both;
}

.app-task-list__task-name {
  display: block;
}

@media (min-width: 28.125em) {
  .app-task-list__task-name {
    float: left;
    width: 75%;
  }
}

.app-task-list__task-completed {
  margin-top: 10px;
  margin-bottom: 5px;
}

@media (min-width: 28.125em) {
  .app-task-list__task-completed {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.das-user-panel {
  margin-top: -10px;
  padding: 25px 0 15px;
  background-color: #005ea5;
}

.das-user-panel__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media print {
  .das-user-panel__content {
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 1.2;
    color: #000;
  }
}

.das-user-panel__content__tag {
  margin-right: 10px;
}

.govuk-link--white:link,
.govuk-link--white:visited {
  color: #fff;
}

.govuk-link--white:link:hover,
.govuk-link--white:visited:hover {
  color: #ddeef8;
}

.das-user-panel__item {
  color: #fff;
  margin-right: 15px;
  margin-bottom: 0;
}

.das-user-panel__item--grow {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (max-width: 40.0525em) {
  .das-user-panel__item--grow {
    -ms-flex-preferred-size: 320px;
    flex-basis: 320px;
  }
}

.das-filter {
  border: 1px solid #bfc1c3;
}

.das-filter-body {
  padding: 1em;
}

.das-filter-heading {
  padding: 0.5em 1em;
  background-color: #dee0e2;
}

.govuk-table__row--no-top-padding-on-first-child td {
  padding-top: 20px;
}

.govuk-table__row--no-top-padding-on-first-child:first-child td {
  padding-top: 0;
}

.govuk-header__container--das-epao {
  border-bottom: 10px solid #004274;
}

.das-apply-notification-summary {
  border: 4px solid #005ea5;
  padding: 20px 15px;
}

.js-check-all-container {
  display: none;
}

.js-enabled .js-check-all-container {
  display: block;
}

.govuk-checkboxes__input--indeterminate + .govuk-checkboxes__label:after {
  top: 16px;
  left: 6px;
  width: 28px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border-width: 0 0 7px 0;
  opacity: 1;
}

.govuk-radios__conditional:last-child {
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .govuk-radios__conditional:last-child {
    margin-bottom: 0;
  }
}

.govuk-table__cell--break-word {
  word-break: break-word;
}

.govuk-character-count {
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .govuk-character-count {
    margin-bottom: 0;
  }
}

/* Navigation menu */

.app-navigation {
  border-bottom: 1px solid #bfc1c3;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

@media print {
  .app-navigation {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-navigation {
    font-size: 19px;
    line-height: 25px;
  }
}

@media (max-width: 641px) {
  .app-navigation__list > li {
    content: "";
    clear: both;
    float: left;
    width: 100%;
  }

  .app-navigation__list > li:hover {
    background-color: #2b8cc4;
  }

  .app-navigation__list > li:hover a {
    color: #ffffff !important;
  }

  .app-navigation__list > li.app-navigation--current-page > a {
    background-color: #005ea5 !important;
    color: #ffffff !important;
  }

  .app-navigation__list > li.app-navigation--current-page a:hover {
    background-color: #2b8cc4;
  }
}

@media print {
  .app-navigation {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.app-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app-navigation__list > li {
  box-sizing: border-box;
  height: 53px;
  line-height: 53px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media (min-width: 311px) {
  .app-navigation__list > li {
    float: left;
  }
}

.app-navigation__list > li:hover {
  border-bottom: 4px solid #2b8cc4;
}

.app-navigation__list > li.app-navigation--current-page {
  border-bottom: 4px solid #005ea5 !important;
}

.app-navigation__list > li.app-navigation--current-page a:hover {
  color: #005ea5;
}

.app-navigation__list > li a {
  font-weight: 700;
  display: block;
  padding: 0;
  color: #005ea5;
  text-decoration: none;
}

@media (min-width: 311px) {
  .app-navigation__list > li a {
    padding: 0 15px;
  }
}

.app-navigation__list > li a:visited {
  color: #005ea5;
}

.app-navigation__list > li a:hover,
.app-navigation__list > li a:focus {
  color: #2b8cc4;
  background-color: inherit;
}

/* Dashboard */

.dashboard-box,
.dashboard-box__green,
.dashboard-box__lightblue,
.dashboard-box__darkblue {
  margin-top: 1.5em;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dashboard-box {
  border: 1px solid #bfc1c3;
  height: 9.5em;
  background-color: #f8f8f8;
}

.dashboard-box__green {
  height: 11.8em;
  border: 1px solid #28a197;
}

.dashboard-box__lightblue {
  height: 11.8em;
  border: 1px solid #2b8cc4;
}

.dashboard-box__darkblue {
  height: 11.8em;
  border: 1px solid #2b8cc4;
}

.dashboard-box-content {
  margin: 0.7em;
}

.dashboard__link-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 1.25em;
}

.dashboard__link {
  line-height: 1.5;
}

.dashboard__link a:visited {
  color: #005ea5;
}

.dashboard__link a:focus {
  outline: 3px solid #ffbf47;
}

.dashboard__link a:hover {
  color: #2b8cc4;
}

.data-stats {
  color: #ffffff;
  padding: 0.7em;
  margin-top: 0;
}

.data-custom {
  color: #005ea5;
}

.data-item-custom {
  line-height: 1.5;
  font-weight: 500;
}

.data-background__green {
  background-color: #28a197;
}

.data-background__lightblue {
  background-color: #2b8cc4;
}

.data-background__darkblue {
  background-color: #005ea5;
}

@media (max-width: 1020px) {
  .dashboard-box__green,
  .dashboard-box__lightblue,
  .dashboard-box__darkblue {
    height: 13.5em;
  }
  .dashboard-box {
    height: 11.5em;
  }
}

@media (max-width: 769px) {
  .dashboard-box__green,
  .dashboard-box__lightblue,
  .dashboard-box__darkblue {
    height: 14.5em;
  }
  .dashboard-box {
    height: 13em;
  }
}

@media (max-width: 641px) {
  .dashboard-box__green,
  .dashboard-box__lightblue,
  .dashboard-box__darkblue {
    height: 11.5em;
  }

  .dashboard-box {
    height: 10em;
  }
}
