/* Cookie banner */

/* Global cookie message */

.js-enabled .das-cookie-banner {
  display: none;
  /* shown with JS, always on for non-JS */
}

.das-cookie-banner {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  color: #0b0c0c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #d5e8f3;
}

@media print {
  .das-cookie-banner {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .das-cookie-banner {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .das-cookie-banner {
    font-size: 14pt;
    line-height: 1.2;
  }
}

@media print {
  .das-cookie-banner {
    color: #000;
  }
}

.das-cookie-banner {
  display: none;
}

@media print {
  .das-cookie-banner {
    display: none !important;
  }
}

/* Application styles */

.das-inline-button-link {
  display: inline-block;
  padding: 0.526315em 0 0.263157em 0;
  line-height: 1.25;
}

.das-inline-button-link--start {
  padding: 9px 0;
}

@media (min-width: 40.0625em) {
  .das-inline-button-link {
    padding-left: 0.526315em;
  }
}

.govuk-button--looks-like-link {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: underline;
  background: none;
  box-shadow: none;
  text-align: left;
  color: #005ea5;
}

.govuk-button--looks-like-link:hover,
.govuk-button--looks-like-link:active {
  top: 0;
  background: none;
  color: #2b8cc4;
  text-decoration: underline;
}

.govuk-button--looks-like-link:focus {
  background: #ffbf47;
}

.govuk-button--looks-like-link:visited {
  color: #4c2c92;
}

.govuk-button__looks-like-link--no-decoration {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  background: none;
  box-shadow: none;
  text-align: left;
  font-weight: bold;
  font-size: 1.4rem;
  color: #005ea5;
}

.govuk-button__looks-like-link--no-decoration:hover,
.govuk-button__looks-like-link--no-decoration:active {
  top: 0;
  background: none;
  color: #2b8cc4;
  text-decoration: none;
}

.govuk-button__looks-like-link--no-decoration:focus {
  background: #ffbf47;
}

.govuk-button__looks-like-link--no-decoration:visited {
  color: #4c2c92;
}

.govuk-button--looks-like-link--inline {
  display: inline-block;
  line-height: 1.31579;
}

.govuk-button--looks-like-search {
  position: relative;
  padding: 0;
  width: 40px;
  height: 40px;
  box-shadow: unset;
  background-image: url(/assets/images/govuk-button-search.png);
  background-repeat: no-repeat;
  background-position: 2px 50%;
  background-color: #005ea5;
  text-indent: -5000px;
  overflow: hidden;
}

.das-wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.das-no-wrap {
  white-space: nowrap;
}

.das-\!-margin-bottom-xs {
  margin-bottom: 2px !important;
}

.app-check-your-answers {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 40px;
}

@media print {
  .app-check-your-answers {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-check-your-answers {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .app-check-your-answers {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .app-check-your-answers {
    margin-bottom: 60px;
  }
}

@media (min-width: 48.0625em) {
  .app-check-your-answers {
    display: table;
  }
}

@media (min-width: 48.0625em) {
  .app-check-your-answers--short {
    width: 100%;
  }

  .app-check-your-answers--short .app-check-your-answers__question {
    width: 30%;
  }
}

@media (min-width: 48.0625em) {
  .app-check-your-answers--long {
    width: 100%;
  }

  .app-check-your-answers--long .app-check-your-answers__question {
    width: 50%;
  }
}

.app-check-your-answers__contents {
  position: relative;
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 48.0625em) {
  .app-check-your-answers__contents {
    display: table-row;
    border-bottom-width: 0;
  }
}

@media (min-width: 48.0625em) {
  .app-check-your-answers__contents:first-child
    .app-check-your-answers__question,
  .app-check-your-answers__contents:first-child .app-check-your-answers__answer,
  .app-check-your-answers__contents:first-child
    .app-check-your-answers__change {
    padding-top: 0;
  }
}

.app-check-your-answers__question,
.app-check-your-answers__answer,
.app-check-your-answers__change {
  display: block;
  margin: 0;
}

@media (min-width: 48.0625em) {
  .app-check-your-answers__question,
  .app-check-your-answers__answer,
  .app-check-your-answers__change {
    display: table-cell;
    border-bottom: 1px solid #bfc1c3;
    padding: 0.63158em 1.05263em 0.47368em 0;
  }
}

.app-check-your-answers__question {
  font-weight: bold;
  margin: 0.63158em 4em 0.21053em 0;
}

.app-check-your-answers__answer {
  padding-bottom: 0.47368em;
}

.app-check-your-answers__change {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 48.0625em) {
  .app-check-your-answers__change {
    position: static;
    padding-right: 0;
  }
}

.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .app-task-list {
    min-width: 550px;
  }
}

.app-task-list__section {
  display: table;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.11111;
}

@media print {
  .app-task-list__section {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__section {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media print {
  .app-task-list__section {
    font-size: 18pt;
    line-height: 1.15;
  }
}

.app-task-list__section-number {
  display: table-cell;
}

@media (min-width: 40.0625em) {
  .app-task-list__section-number {
    min-width: 30px;
    padding-right: 0;
  }
}

.app-task-list__items {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 40px;
  list-style: none;
  padding-left: 0;
}

@media print {
  .app-task-list__items {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .app-task-list__items {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    margin-bottom: 60px;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    padding-left: 30px;
  }

  .app-task-list__items--no-number {
    padding-left: 0;
  }
}

.app-task-list__item {
  border-bottom: 1px solid #bfc1c3;
  margin-bottom: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-task-list__item:after {
  content: "";
  display: block;
  clear: both;
}

.app-task-list__task-name {
  display: block;
}

@media (min-width: 28.125em) {
  .app-task-list__task-name {
    float: left;
    width: 75%;
  }
}

.app-task-list__task-completed {
  margin-top: 10px;
  margin-bottom: 5px;
}

@media (min-width: 28.125em) {
  .app-task-list__task-completed {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.das-user-panel {
  margin-top: -10px;
  padding: 30px 0 20px;
  background-color: #005ea5;
}

.das-user-panel__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media print {
  .das-user-panel__content {
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 1.2;
    color: #000;
  }
}

.das-user-panel__content__tag {
  margin-right: 10px;
}

.govuk-link--white:link,
.govuk-link--white:visited {
  color: #fff;
}

.govuk-link--white:link:hover,
.govuk-link--white:visited:hover {
  color: #ddeef8;
}

.das-user-panel__item {
  color: #fff;
  margin-right: 15px;
  margin-bottom: 0;
}

.das-user-panel__item:last-child {
  margin-right: 0;
}

.das-user-panel__item--grow {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (max-width: 40.0525em) {
  .das-user-panel__item--grow {
    -ms-flex-preferred-size: 320px;
    flex-basis: 320px;
  }
}

.das-filter {
  border: 1px solid #bfc1c3;
}

.das-filter-body {
  padding: 1em;
}

.das-filter-heading {
  padding: 0.5em 1em;
  background-color: #dee0e2;
}

.govuk-table__row--no-top-padding-on-first-child td {
  padding-top: 20px;
}

.govuk-table__row--no-top-padding-on-first-child:first-child td {
  padding-top: 0;
}

.govuk-header__container--das-epao {
  border-bottom: 10px solid #004274;
}

.das-apply-notification-summary {
  border: 4px solid #005ea5;
  padding: 20px 15px;
}

.js-check-all-container {
  display: none;
}

.js-enabled .js-check-all-container {
  display: block;
}

.govuk-checkboxes__input--indeterminate + .govuk-checkboxes__label:after {
  top: 16px;
  left: 6px;
  width: 28px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border-width: 0 0 7px 0;
  opacity: 1;
}

.govuk-radios__conditional:last-child {
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .govuk-radios__conditional:last-child {
    margin-bottom: 0;
  }
}

.govuk-table__cell--break-word {
  word-break: break-word;
}

.govuk-table__cell .govuk-table__header .govuk-table__header--no-bottom-border {
  border-bottom: 0;
}

.govuk-table__cell--no-border,
.govuk-table__header--no-border {
  border-bottom: 0;
}

.govuk-character-count {
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .govuk-character-count {
    margin-bottom: 0;
  }
}

.govuk-phase-banner--no-border {
  border-bottom: 0;
}

/* Navigation menu */

.app-navigation {
  background-color: #f8f8f8;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.app-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.app-navigation__list > li {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}

.app-navigation__list > li a {
  display: block;
  color: #005ea5;
  padding: 15px;
  border-bottom: 2px solid #fff;
  font-weight: 400;
  text-decoration: none;
}

.app-navigation__list > li a:visited {
  color: #005ea5;
}

.app-navigation__list > li a:hover,
.app-navigation__list > li a:focus {
  color: #2b8cc4;
  background-color: #fff;
}

.app-navigation__list > li.app-navigation--current-page > a {
  background-color: #005ea5;
  color: #fff;
}

.app-navigation__list > li.app-navigation--current-page a:visited {
  color: #fff;
}

@media (min-width: 40.0625em) {
  .app-navigation__list > li a {
    color: #005ea5;
    padding: 15px 30px;
  }
}

@media (min-width: 1020px) {
  .app-navigation {
    font-size: 19px;
    line-height: 25px;
  }

  .app-navigation__list {
    margin: 0 auto;
    max-width: 960px;
  }

  .app-navigation__list > li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .app-navigation__list > li a {
    font-weight: 700;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    color: #005ea5;
    text-align: center;
    padding: 15px;
  }

  .app-navigation__list > li a:hover {
    border-bottom: 4px solid #2b8cc4;
    background-color: inherit;
  }

  .app-navigation__list > li.app-navigation--current-page a {
    color: #005ea5;
    background-color: inherit;
    border-bottom: 4px solid #005ea5;
  }

  .app-navigation__list > li.app-navigation--current-page a:hover {
    color: #005ea5;
    background-color: inherit;
  }

  .app-navigation__list > li.app-navigation--current-page a:visited {
    color: #005ea5;
  }
}

@media print {
  .app-navigation {
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 1.15;
  }
}

/* Dashboard boxes */

.dashboard-boxes {
  margin: 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.dashboard-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 10px;
  margin-bottom: 20px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 100%;
}

@media (min-width: 40.0625em) {
  .dashboard-box {
    width: 33.333333%;
  }
}

@media (min-width: 40.0625em) {
  .dashboard-box--two-thirds {
    width: 66.666666%;
  }
}

.dashboard-box__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  border: 1px solid #bfc1c3;
}

.dashboard-box--grey .dashboard-box__content {
  background-color: #f8f8f8;
  border: 0 none;
}

.dashboard-box--green .dashboard-box__content {
  border-color: #28a197;
}

.dashboard-box--lightblue .dashboard-box__content {
  border-color: #2b8cc4;
}

.dashboard-box--darkblue .dashboard-box__content {
  border-color: #005ea5;
}

.dashboard-box__header {
  color: #ffffff;
  padding: 15px;
  margin-top: 0;
}

.dashboard-box--green .dashboard-box__header {
  background-color: #28a197;
}

.dashboard-box--lightblue .dashboard-box__header {
  background-color: #2b8cc4;
}

.dashboard-box--darkblue .dashboard-box__header {
  background-color: #005ea5;
}

.dashboard-box__body {
  padding: 15px 15px 0;
}

.dashboard-box__body--no-top-padding {
  padding: 0 15px 0;
}

.dashboard-box__count,
.dashboard-box__name {
  color: #fff;
  font-weight: 700;
}

/* Content boxes */

.das-standout-box {
  margin-bottom: 30px;
  padding: 15px;
  background: #dee0e2;
}

.das-highlight-box {
  border-top: 3px solid #dee0e2;
  border-bottom: 3px solid #dee0e2;
  padding: 20px 0;
  margin-bottom: 50px;
  margin-left: 30px;
}

.das-flex > .das-highlight-box:first-child {
  margin-left: 0;
}

.das-flex {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  margin: 0;
}

.error-summary,
.info-summary,
.success-summary,
.warning-summary,
.info-highlighted {
  border-width: 4px;
  border-style: solid;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px;
}

@media (min-width: 40.0625em) {
  .error-summary,
  .info-summary,
  .success-summary,
  .warning-summary,
  .info-highlighted {
    border-width: 5px;
    border-style: solid;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px;
  }
}

.error-summary [class^="heading-"],
.info-summary [class^="heading-"],
.success-summary [class^="heading-"],
.warning-summary [class^="heading-"],
.info-highlighted [class^="heading-"] {
  margin-top: 0;
}

/* :first-child:last-child === element has no siblings */
.error-summary [class^="heading-"]:first-child:last-child,
.info-summary [class^="heading-"]:first-child:last-child,
.success-summary [class^="heading-"]:first-child:last-child,
.warning-summary [class^="heading-"]:first-child:last-child,
.info-highlighted [class^="heading-"]:first-child:last-child {
  margin: 0;
}

/* :first-child:last-child === element has no siblings */
.error-summary > *:last-child,
.info-summary > *:last-child,
.success-summary > *:last-child,
.warning-summary > *:last-child,
.info-highlighted > *:last-child {
  margin-bottom: 0;
}

.error-summary p,
.info-summary p,
.success-summary p,
.warning-summary p,
.info-highlighted p {
  margin-bottom: 10px;
}

.success-summary {
    border-color: #00703c;
}

.warning-summary {
    border-color: #f47738;
}

.info-summary {
    border-color: #1d70b8;
}

.success-summary p {
    color: #00703c;
}

.warning-summary p {
    color: #f47738;
}

.info-summary p {
    color: #1d70b8;
}

.success-summary p,
.warning-summary p,
.info-summary p {
    font:bold;
}

.info-highlighted {
  max-width: 30em;
  background: #eaebf3;
  border: none;
  border-left: solid 10px #2e358b;
}

@media (min-width: 40.0625em) {
  .info-summary {
    border-color: #2b8cc4;
  }
}

/* Page navigation */

/*
TODO: change to 'das-page-navigation' and BEM
*/

.page-navigation {
  padding-top: 10px;
}

.page-navigation .description {
  display: block;
}

.page-navigation .counter {
  display: block;
  font-size: 14px;
}

.page-navigation .previous,
.page-navigation .next {
  display: inline-block;
  font-size: 1em;
  margin-right: -4px;
  overflow: hidden;
  padding: 1.2em 0.6em;
  text-decoration: none;
  vertical-align: top;
  width: 50%;
  box-sizing: border-box;
  color: #005ea5;
}

.page-navigation .previous:hover,
.page-navigation .previous:focus,
.page-navigation .next:hover,
.page-navigation .next:focus {
  background-color: #f8f8f8;
  color: #2b8cc4;
  cursor: pointer;
}

.page-navigation .previous .arrow-button,
.page-navigation .next .arrow-button {
  float: left;
  font-size: 2.5em;
  line-height: 1;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  width: 1em;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-navigation .next .arrow-button {
  float: right;
  margin-right: 0;
}

.page-navigation .previous {
  text-align: left;
}

.page-navigation .next {
  text-align: right;
  width: 100%;
}

.page-navigation .previous + .next {
  width: 50%;
}

.page-navigation .disabled,
.page-navigation .disabled > * {
  opacity: 0;
}

@font-face {
  font-family: "fontello";
  src: url("../assets/fonts/fontello.eot?30491483");
  src: url("../assets/fonts/fontello.eot?30491483#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/fontello.woff?30491483") format("woff"),
    url("../assets/fonts/fontello.ttf?30491483") format("truetype"),
    url("../assets/fonts/fontello.svg?30491483#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Expandable table row */

.js-enabled .expand-table-row {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
}

.js-enabled .expand-table-row span {
  text-decoration: underline;
}

.js-enabled .expand-table-row:visited {
  color: #005ea5;
}

.js-enabled .expand-table-row:focus {
  outline: 3px solid #ffbf47;
}

.js-enabled .expand-table-row:hover {
  color: #2b8cc4;
}

.hidden-bottom-border {
  border-color: transparent;
}

.expandble-cell-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  padding: 0.78947em;
  text-align: left;
  border-left-style: solid;
  border-color: #bfc1c3;
  border-left-width: 5px;
}

.expandble-cell-content--no-border {
  padding: 0.78947em 0;
  border: 0;
}

.expandble-cell-content .expandble-cell-content--first-heading {
  margin-top: 0;
  margin-bottom: 1.25em;
}

.select-min-width-pfc-table {
  min-width: 123px;
}

.arrow {
  color: #005ea5;
  cursor: pointer;
  display: none;
}

@media (min-width: 40.0625em) {
  .arrow {
    display: inline-block;
  }
}

.js-enabled .expandble-cell--hidden {
  display: none;
}

.govuk-table--small {
  font-size: 14px;
}

@media (min-width: 40.0625em) {
  .govuk-table--small {
    font-size: 16px;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.js-enabled .js-hidden {
  display: none;
  visibility: hidden;
}

.js-error-summary {
  display: none;
}

.das-code {
  display: inline-block;
  color: #0b0c0c;
  background-color: #f8f8f8;
  text-shadow: 0 1px #fff;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 14px;
  direction: ltr;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  white-space: pre-wrap;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  border: 1px solid #bfc1c3;
  padding: 4px 4px 2px;
  margin-bottom: 30px;
}

/* Postcode lookup */

/* jQuery UI Styles */

.ui-autocomplete {
  position: absolute;
  cursor: default;
}

* html .ui-autocomplete {
  width: 1px;
}

.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  float: left;
}

.ui-menu .ui-menu {
  margin-top: -3px;
}

.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
}

.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 0.2em 0.4em;
  line-height: 1.5;
  zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-autocomplete {
  background: #fff;
  border: 1px solid #bfc1c3;
  list-style-type: none;
  max-height: 370px;
  max-width: 100%;
  overflow-y: auto;
}

.ui-autocomplete .ui-menu-item {
  cursor: pointer;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
}

@media (min-width: 40.0625em) {
  .ui-autocomplete .ui-menu-item {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.ui-autocomplete .ui-menu-item div:hover,
.ui-autocomplete .ui-menu-item .ui-state-active {
  background: #dee0e2;
}

.toggle-content {
  display: none;
}

.disabled,
.disabled > * {
  opacity: 0.5;
  pointer-events: none;
}

.ui-menu {
  top: -2px;
  padding: 0;
  box-sizing: border-box;
  border-width: 2px;
}

.ui-autocomplete .ui-menu-item {
  padding: 0;
}

.ui-menu .ui-menu-item div {
  padding: 6px 5px;
}

.ui-menu .ui-menu-item:first-child div {
  padding-top: 8px;
}

.ui-menu .ui-menu-item:last-child div {
  padding-bottom: 5px;
}

.ui-autocomplete .ui-menu-item {
  font-size: 16px;
}

@media (min-width: 40.0625em) {
  .ui-autocomplete .ui-menu-item {
    font-size: 19px;
  }
}

.hide-nojs {
  display: none;
}

.js-enabled .hide-nojs {
  display: block;
}

.govuk-details__text--no-indent {
  padding-left: 0;
  border: 0;
}

.govuk-details__text--full-width {
  margin-right: -300%;
  border-left: none;
}

@media (min-width: 40.0625em) {
  .align-button-right {
    margin-top: 2.55em;
    float: right;
  }
}

/* Accessible autocomplete */

.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
  font-family: nta, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 0;
  padding: 5px;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (min-width: 40.0625em) {
  .autocomplete__hint,
  .autocomplete__input,
  .autocomplete__option {
    font-size: 19px;
  }
}

.autocomplete__option {
  cursor: pointer;
  text-transform: none;
  border: 0 none;
  padding: 10px 5px 8px;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
  background-color: #dee0e2;
  border-color: #dee0e2;
  color: #0b0c0c;
  outline: 0;
}

.autocomplete__option--odd {
  background-color: #fff;
}

.autocomplete__menu {
  background: #fff;
  border: 2px solid #bfc1c3;
  list-style-type: none;
  max-height: 370px;
  max-width: 100%;
  overflow-y: auto;
}

th[aria-sort] a {
  text-decoration: none;
}

th[aria-sort="descending"] a:after {
  content: "\25BC";
}

th[aria-sort="ascending"] a:after {
  content: "\25B2";
}

/* Opportunity finder  */

.govuk-heading-xl--white,
.govuk-body--white {
  color: #fff;
}

.das-flex-space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}

.das-pagination-links {
  height: 40px;
  line-height: 40px;
}

.sorted-ascending::after {
  content: "";
  margin-left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 10px 5px 0;
  border-top-color: inherit;
}

.sorted-descending::after {
  content: "";
  margin-left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
  clip-path: polygon(50% 1%, 1% 100%, 100% 100%);
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 0 5px 10px;
  border-bottom-color: inherit;
}

/* Search from gov.uk */

.das-icon-search {
  position: relative;
  margin-bottom: 30px;
}

.das-icon-search__input[type="search"] {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4736842105;
  padding: 6px;
  margin: 0;
  width: 100%;
  height: 40px;
  border: 2px solid #0b0c0c;
  background: #ffffff;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media print {
  .das-icon-search__input[type="search"] {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .das-icon-search__input[type="search"] {
    font-size: 19px;
    line-height: 1.4736842105;
  }
}

@media print {
  .das-icon-search__input[type="search"] {
    font-size: 14pt;
    line-height: 1.4736842105;
  }
}

.das-icon-search__input[type="search"]:focus,
.das-icon-search__input[type="search"].focus {
  z-index: 2;
}

.das-icon-search__input[type="search"]:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
}

.das-icon-search__submit {
  border: 0;
  cursor: pointer;
  border-radius: 0;
  position: relative;
  padding: 0;
  width: 40px;
  height: 40px;
  background-image: url(../assets/images/govuk-search-button.png);
  background-repeat: no-repeat;
  background-position: 2px 50%;
  text-indent: -5000px;
  overflow: hidden;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .das-icon-search__submit {
    background-size: 52.5px auto;
    background-position: 115% 50%;
  }
}

.das-icon-search__submit:focus {
  z-index: 2;
  outline: 3px solid #ffbf47;
  outline-offset: 0;
  box-shadow: inset 0 0 0 4px #0b0c0c;
}

.das-icon-search__submit::-moz-focus-inner {
  border: 0;
}

.das-icon-search__item-wrapper {
  display: table;
  width: 100%;
  background: #ffffff;
}

.das-icon-search__item {
  position: relative;
  display: table-cell;
  vertical-align: top;
}

.das-icon-search__submit-wrapper {
  width: 1%;
}

.das-icon-search--on-govuk-blue .das-icon-search__input {
  border-width: 0;
}

.das-icon-search--on-govuk-blue .das-icon-search__input:focus {
  box-shadow: none;
}

.das-icon-search--on-govuk-blue .das-icon-search__submit {
  background-color: #0b0c0c;
  color: #ffffff;
}

.das-icon-search--on-govuk-blue .das-icon-search__submit:hover {
  background-color: #171919;
}

.das-icon-search--on-white .das-icon-search__submit {
  background-color: #005ea5;
  color: #ffffff;
}

.das-icon-search--on-white .das-icon-search__submit:hover {
  background-color: #2b8cc4;
}

.das-icon-search--on-white .das-icon-search__input[type="search"] {
  border-right-width: 0;
}

.das-icon-search--on-white .das-icon-search__input[type="search"]:focus {
  border-right-width: 2px;
}

.das-icon-search--large .das-icon-search__input[type="search"] {
  height: 50px;
}

.das-icon-search--large .das-icon-search__submit {
  width: 50px;
  height: 50px;
  background-position: 8px 50%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .das-icon-search--large .das-icon-search__submit {
    background-size: 60px auto;
    background-position: 160% 50%;
  }
}

.govuk-link--no-decoration {
  text-decoration: none;
}

.govuk-\!-width-one-fifth {
  width: 100% !important;
}

@media (min-width: 40.0625em) {
  .govuk-\!-width-one-fifth {
    width: 20% !important;
  }
}

.govuk-\!-width-one-sixth {
  width: 100% !important;
}

@media (min-width: 40.0625em) {
  .govuk-\!-width-one-sixth {
    width: 16.66% !important;
  }
}

.das-pill {
  display: inline-block;
  white-space: nowrap;
  margin: 0 0 6px 0;
  padding: 4px 8px 2px;
  font-size: 14px;
  border-radius: 20px;
  background: #f8f8f8;
  border: 2px solid #efefef;
}

@media (min-width: 40.0625em) {
  .das-pill {
    font-size: 16px;
  }
}

.govuk-summary-list--top-border {
    border-top: 1px solid #bfc1c3;
}