@model SFA.DAS.AssessorService.Web.Staff.ViewModels.Private.CertificateUkprnViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "UK Provider Reference Number (UKPRN)";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a class="link-back" asp-controller="CertificateAmend" asp-action="Check" asp-route-certificateid=@Model.Id>Back</a>

        <form class="apprentice-ukprn-form js-disable-on-submit" method="post" asp-action="Ukprn" asp-controller="CertificatePrivateProviderUkprn">
            @Html.HiddenFor(c => c.Id)

            @* hidden with css by default *@
            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There is a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There is a problem
                    </h2>
                    <ul class="error-summary-list">
                        <li><a sfa-validation-for="Ukprn"></a></li>
                    </ul>
                </div>
            }

            <div sfa-anyvalidationerror-class="after-error-summary">
                <h1 class="heading-large">
                    What's the training provider's UK Provider Reference Number (UKPRN)?
                </h1>

                <div class="form-group" sfa-validation-for="Ukprn" sfa-validationerror-class="form-group-error">
                    <label for="Ukprn">
                        <span class="form-label-bold visually-hidden">Ukprns</span>
                        <span class="form-hint">
                            For example, 10000346
                        </span>
                        <span class="error-message" asp-validation-for="Ukprn"></span>
                    </label>
                    <input class="form-control js-integers-only" name="Ukprn" sfa-validation-for="Ukprn" sfa-validationerror-class="form-control-error" asp-for="Ukprn" type="text" maxlength="8" />
                </div>

            </div>

            <details>
                <summary><span class="summary">What's a UKPRN?</span></summary>
                <div class="panel panel-border-narrow" id="what-is-a-unique-learner-number">
                    <p>A UKPRN is a unique 8 digit number given to training providers registered on the UK Register of Learning Providers (UKRLP).</p>
                </div>
            </details>

            <button type="submit" class="button">Continue</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/CertificateAmend/_UkprnScriptsPartial.cshtml"); }
}