@model SFA.DAS.AssessorService.Web.Staff.ViewModels.Private.CertificateUlnViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Apprentice's uln";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a class="link-back" asp-controller="CertificateAmend" asp-action="Check" asp-route-certificateid=@Model.Id>Back</a>

        <form class="apprentice-uln-form js-disable-on-submit" method="post" asp-action="Uln" asp-controller="CertificatePrivateUln">
            @Html.HiddenFor(c => c.Id)

            @* hidden with css by default *@
            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There's a problem
                    </h2>
                    <ul class="error-summary-list">
                        <li><a sfa-validation-for="Uln"></a></li>
                    </ul>
                </div>
            }

            <div sfa-anyvalidationerror-class="after-error-summary">
                <h1 class="heading-large">
                    Please enter Uln
                </h1>

                <div class="form-group" sfa-validation-for="Uln" sfa-validationerror-class="form-group-error">
                    <label class="form-label" for="Uln">
                        <span class="form-label-bold">Unique learner number (<abbr title="Unique learner number">ULN</abbr>)</span>
                        <span class="form-hint">"For example, 1234567890"</span>
                        <span class="error-message" asp-validation-for="Uln"></span>
                    </label>
                    <input class="form-control js-integers-only" name="Uln" autocomplete="off" asp-for="Uln" type="text" sfa-validation-for="Uln" sfa-validationerror-class="form-control-error" maxlength="10" />
                </div>


            </div>

            <button type="submit" class="button">Continue</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/CertificateAmend/_UlnScriptsPartial.cshtml"); }
}