@{
    ViewBag.Title = "Staff Dashboard";
}

<h2>Staff Dashboard</h2>


<div>
    <a asp-controller="Search">Search</a>
</div>
<div>
    <a href="#">Print Batches</a>
</div>
<div>
    <a href="#">Print Schedule Config</a>
</div>