@{
    Layout = "_Layout";
}


<div class="header-user">
    <div id="global-header-bar" class="global-header-bar--white"></div>
    <div class="header-inner">
        <div id="header-user--nav" class="grid-row">
            <div class="column-one-third">
                <h2 class="heading-small">
                    <a href="#">Acme Assessments</a>
                    <span class="heading-secondary">
                        @User.Identity.Name
                    </span>
                </h2>
            </div>
            <div class="column-two-thirds">
                <nav id="user-nav" class="js-hidden-mobile">
                    <ul>
                        <li><a asp-controller="Account" asp-action="SignOut">Sign out</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<main id="content" role="content">
    @RenderBody()
</main>
