@using Microsoft.AspNetCore.Http
@using SFA.DAS.AssessorService.Web.Infrastructure
@using SFA.DAS.AssessorService.Web.StartupConfiguration
@using SFA.DAS.AssessorService.Web.Constants
@inject ISessionService SessionService

@{
    ViewBag.ServiceName = "Oppurtunity finder";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@RenderBody()

@section ServiceHeader
{
    <div class="das-user-panel">
        <div class="govuk-width-container">
            <div class="das-user-panel__content">
                <h1 class="govuk-heading-xl">
                    Apprenticeship assessment business oppurtunity
                </h1>
                <p class="govuk-body">
                    For potential and existing end-point assessment organisation (EPAOs) to understand the business oppurtunities for apprenticeship assessment
                </p>
            </div>
        </div>
    </div>
}

@section Scripts
{
    @RenderSection("Scripts", required: false)
}

@section Styles
{
    @RenderSection("Styles", required: false)
}

@section AdditionalFooterLinks
{
}