@using SFA.DAS.AssessorService.Web.Infrastructure
@inject ISessionService SessionService

@{
    Layout = "~/Views/Shared/_OppFinderLayout.cshtml";
}

@RenderBody()

@section ServiceHeader
{
    <div class="das-user-panel">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="das-user-panel__content">
                        <h1 class="govuk-heading-xl govuk-heading-xl--white govuk-!-margin-bottom-3">
                            Find an assessment opportunity
                        </h1>
                        <p class="govuk-body govuk-body--white govuk-!-margin-bottom-0">
                            For potential and existing end-point assessment organisation (EPAOs) to understand the business opportunities for apprenticeship assessment
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    @RenderSection("Scripts", required: false)
}

@section Styles
{
    @RenderSection("Styles", required: false)
}
