@using SFA.DAS.AssessorService.Web.Infrastructure
@inject ISessionService SessionService

@{
    ViewBag.ServiceName = "Find an assessment opportunity";
    ViewBag.ServiceController = "OppFinder";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@RenderBody()

@section ServiceHeader
{
    @RenderSection("ServiceHeader", required: false)
}

@section Scripts
{
    @RenderSection("Scripts", required: false)
}

@section Styles
{
    @RenderSection("Styles", required: false)
}

@section FooterLinks
{
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" asp-controller="OppFinder" asp-action="Cookies">Cookies</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" asp-controller="OppFinder" asp-action="Privacy">Privacy</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" asp-controller="OppFinder" asp-action="ContactUs">Contact</a>
    </li>
}