<div>
@*<nav id="user-nav" class="js-hidden-mobile">*@
<ul>
    <li>
        <a asp-controller="Search" asp-action="Index">Search</a>                     
    </li>
    <li>
        <a asp-controller="CertificateHistory" asp-action="Index">Previous Assessments</a>
    </li>
</ul>
@*</nav>*@
</div>