<div>
    <nav class="app-navigation govuk-clearfix">
        <ul class="app-navigation__list">
            <li>
                <a asp-controller="Search" asp-action="Index">Search</a>
            </li>
            <li>
                <a asp-controller="CertificateHistory" asp-action="Index">Previous assessments</a>
            </li>
            <li>
                <a asp-controller="CertificateDraftApprovals" asp-action="CertificateDraftApprovals">Approvals Rejected Certificates</a>
            </li>
        </ul>
    </nav>
</div>