@{
    ViewData["Title"] = "Service unavailable";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">Service unavailable</h1>
        <p>Sorry, record end-point assessments is not available because we're making changes to the service.</p>
        <h2 class="heading-medium">EPAO service helpdesk</h2>
        <p><a href="mailto:epao.helpdesk@education.gov.uk">epao.helpdesk@education.gov.uk</a></p>
        <p>
            Telephone: 0738 452 1167<br />
            Tuesday to Friday, 8am to 5pm
        </p>
        <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

    </div>
</div>

