@model SFA.DAS.AssessorService.Web.ViewModels.ApplyForWithdrawal.WholeStandardOrVersionViewModel;
@{
    ViewData["Title"] = "Do you want to withdraw from the whole standard or version(s) of the standard?";
    Layout = "_DashboardLayout";
}

<a asp-action="ChooseStandardForWithdrawal" asp-controller="ApplyForWithdrawal" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li><a sfa-validation-for="WithdrawalType"></a></li>
                </ul>
            </div>
        </div>
    }
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Do you want to withdraw from the whole standard or version(s) of the standard? </h1>

            <p class="govuk-inset-text">
                Select either the whole standard or version(s) of the standard from which you wish to withdraw.
            </p>

            <form asp-action="WholeStandardOrVersion" asp-controller="ApplyForWithdrawal" method="post">
                <input asp-for="IFateReferenceNumber" type="hidden" />

                <div class="govuk-form-group" sfa-validation-for="WithdrawalType" sfa-validationerror-class="govuk-form-group--error">
                    <fieldset class="govuk-fieldset">
                        <sfa-validationerror-detail sfa-validation-for="WithdrawalType" sfa-validationerror-class="govuk-error-message"></sfa-validationerror-detail>
                        <div class="govuk-hint">
                            Select one option.
                        </div>

                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="wholeStandard" name="WithdrawalType" asp-for="WithdrawalType" type="radio" value="wholeStandard">
                                <label class="govuk-label govuk-radios__label" for="wholeStandard">
                                    Whole standard
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="specificVersions" name="WithdrawalType" asp-for="WithdrawalType" type="radio" value="specificVersions">
                                <label class="govuk-label govuk-radios__label" for="specificVersions">
                                    Version(s) of the standard
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                    Save and continue
                </button>
            </form>
        </div>
    </div>
</main>