@using SFA.DAS.AssessorService.Web.Staff.Domain
@model ScheduleConfigViewModel
@{
    ViewBag.Title = "Create Schedule";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-full">
        <a asp-action="Index" class="link-back">Go Back</a>

        <h1 class="heading-large">Create Schedule</h1>

        <form asp-action="Create" asp-controller="ScheduleConfig" method="post">
            @Html.HiddenFor(m => m.ScheduleType)
            <div asp-validation-summary="All" class="text-danger"></div>

            <div>
                <div id="Date">
                    <h1 class="heading-medium">
                        What's the Run Time date?
                    </h1>
                </div>

                <div class="form-group error-message-container">
                    <span class="form-hint">
                        For example, 15-10-2017 12:00
                    </span>
                    <div class="form-date">
                        <div class="form-group form-group-day">
                            <label for="Day">Day</label>
                            <input class="form-control date-input js-integers-only" asp-for="Day" maxlength="2" />
                        </div>

                        <div class="form-group form-group-month">
                            <label for="Month">Month</label>
                            <input class="form-control date-input js-integers-only" asp-for="Month" maxlength="2" />
                        </div>

                        <div class="form-group form-group-year">
                            <label for="Year">Year</label>
                            <input class="form-control date-input js-integers-only" asp-for="Year" maxlength="4" />
                        </div>

                        <div class="form-group form-group-hour">
                            <label for="Day">Hour</label>
                            <input class="form-control date-input js-integers-only" asp-for="Hour" maxlength="2" />
                        </div>

                        <div class="form-group form-group-minute">
                            <label for="Month">Minute</label>
                            <input class="form-control date-input js-integers-only" asp-for="Minute" maxlength="2" />
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div id="Recurrance">
                    <h1 class="heading-medium">
                        Is it a recurring job?
                    </h1>
                </div>

                <div class="form-group error-message-container">
                    <span class="form-hint">
                        For example, Daily
                    </span>
                    <div class="form-group">
                        <div>
                            <select asp-for="ScheduleInterval" asp-items="Html.GetEnumSelectList<ScheduleInterval>()">
                                <option value="">-- None --</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="button">Continue</button>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
