@using SFA.DAS.AssessorService.Web.Staff.Domain
@using Humanizer
@model ScheduleConfigViewModel
@{
    ViewBag.Title = "Create Schedule";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-full">
        <a asp-action="Index" class="link-back">Go Back</a>

        <h1 class="heading-large">Create Schedule</h1>

        <form asp-action="Create" asp-controller="ScheduleConfig" method="post">
            @Html.HiddenFor(m => m.ScheduleType)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Is Recurring</th>
                        <th>Interval</th>
                        <th>Run Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input asp-for="IsRecurring" /></td>
                        <td>
                            <select asp-for="ScheduleInterval" asp-items="Html.GetEnumSelectList<ScheduleInterval>()">
                                <option value="">-- Not Specified --</option>
                            </select>
                        </td>
                        <td><input asp-for="RunTime" /></td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Create" class="button" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
