@using Humanizer
@model ScheduleConfigViewModel
@{
    ViewBag.Title = "Run schedule";
    Layout = "_Layout";
}

<a asp-action="Index" class="govuk-back-link">Go back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Run schedule now
            </h1>

            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Run time
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.RunTime
                    </dd>
                </div>
            </dl>

            <form asp-action="RunNow" asp-controller="ScheduleConfig" method="post">
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.ScheduleType)
                @Html.HiddenFor(m => m.RunTime)
                <button class="govuk-button">Confirm</button>
            </form>
        </div>
    </div>
</main>