@using Humanizer
@model ScheduleConfigViewModel
@{
    ViewBag.Title = "Run Schedule";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-full">
        <a asp-action="Index" class="link-back">Go Back</a>

        <h1 class="heading-large">Run Schedule Now</h1>

        <div class="form-group">
            <span class="bold">Please Confirm Run Now: </span>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Run Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.RunTime</td>
                </tr>
            </tbody>
        </table>

        <div>
            <form asp-action="RunNow" asp-controller="ScheduleConfig" method="post">
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.ScheduleType)
                @Html.HiddenFor(m => m.RunTime)
                <button class="button">Confirm</button>
            </form>
        </div>
    </div>
</div>