@model SFA.DAS.AssessorService.Web.Controllers.ManageUsers.ViewModels.UserRemovedViewModel

@{
    ViewBag.Title = "User removed";
    Layout = "_DashboardLayout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    User removed
                </h1>
                <div class="govuk-panel__body">
                    <div class="govuk-!-margin-bottom-6">
                        You have removed<br>
                        <strong>@Model.ContactEmail</strong>
                    </div>
                    <div>
                        From the organisation
                        <strong>@Model.OrganisationName</strong>
                    </div>
                </div>
            </div>

            <h2 class="govuk-heading-m">What do you want to do next?</h2>

            <p class="govuk-body">
                <a class="govuk-link" asp-controller="ManageUsers" asp-action="Index">View user list</a>
            </p>

            <p class="govuk-body">
                <a class="govuk-link" asp-controller="Dashboard" asp-action="Index">Back to dashboard</a>
            </p>

        </div>
    </div>
</main>
