@model SFA.DAS.AssessorService.Web.Controllers.ManageUsers.ViewModels.UserRemovedViewModel

@{
    ViewBag.Title = "User Removed";
}



<h1>User Removed</h1>

<p>You have removed</p>
<p>@Model.ContactEmail</p>

<p>From the organisation</p>
<p>@Model.OrganisationName</p>

<p>What do you want to do next?</p>
<a asp-controller="ManageUsers" asp-action="Index">View user list</a>
<a asp-controller="Dashboard" asp-action="Index">Back to dashboard</a>


