@model SFA.DAS.AssessorService.Web.Controllers.ManageUsers.ViewModels.UserViewModel

@{
    ViewBag.Title = "User";
}

<a asp-controller="ManageUsers" asp-action="Index">Back</a>

<span>User details</span>
<div>
    <div class="grid-row">
        <div class="column-full">
            <partial for="@Model" name="~/Views/ManageUsers/UserDetails/_UserDetails.cshtml"/>
            
            <div>
                <label>What can they do?</label>
                <ul>
                    @foreach (var privilege in Model.AssignedPrivileges)
                    {
                        <li>
                            @privilege.Privilege.UserPrivilege
                        </li>
                    }
                </ul>
            </div>
            
            <span>Options</span>
            <a asp-controller="UserDetails" asp-action="EditPermissions" asp-route-userid="@Model.Id">Edit user permissions</a>
            <a asp-controller="UserDetails" asp-action="Remove" asp-route-contactId="@Model.Id">Remove this user</a>
        </div>
    </div>
</div>