@{
    ViewData["Title"] = "Oppurtunity finder";
    Layout = "_OppFinderLayout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <span>Some content on the page</span>

</main>