@model SFA.DAS.AssessorService.Web.ViewModels.OppFinder.OppFinderSearchViewModel
@{
    ViewData["Title"] = "Opportunity finder";
    Layout = "_OppFinderLayout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div>
                <h1 class="govuk-heading-xl">Search</h1>
                Search for Standard, reference or sector (route)
                <input type="text" />
                <a asp-action="Search" asp-controller="OppFinder">Search</a>
            </div>
            Show filters

            <!-- tabs -->
            <div class="govuk-tabs" data-module="tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#approved">
                            Approved
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#in-development">
                            In-development
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#proposed">
                            Proposed
                        </a>
                    </li>
                </ul>
                <section class="govuk-tabs__panel" id="approved">
                    <span>
                        Showing @(Model?.ApprovedStandards.TotalRecordCount ?? 0) approved Standards
                    </span>
                    <div id="approved-standards">
                        @{await Html.RenderPartialAsync("_ApprovedStandardsPartial", @Model);}
                    </div>
                </section>
                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="in-development">
                    <p>
                        Standards in development are being created by a Trailblazer group and are not yet approved
                        for delivery. If you are interested in assessing one or more of these Standards, complete the
                        <a>expression of interest form</a>.
                    </p>
                    <span>
                        Showing @(Model?.InDevelopmentStandards.TotalRecordCount ?? 0) Standards in-development
                    </span>
                    <div id="in-development-standards">
                        @{await Html.RenderPartialAsync("_InDevelopmentStandardsPartial", @Model);}
                    </div>
                </section>
                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="proposed">
                    <p>
                        A proposal to develop an apprenticeship Standard means that a Trailblazer group of
                        employers are preparing to submit a proposal to develop an apprenticeship standard for this
                        occupation. This proposal will be subject to Institute for Apprenticeships and Technical
                        Education approval process and if agreed, will appear on the Institute for Apprenticeships
                        and Technical Education's list of standards in development.
                    </p>
                    <span>
                        Showing @(Model?.ProposedStandards.TotalRecordCount ?? 0) proposed Standards
                    </span>
                    <div id="proposed-standards">
                        @{await Html.RenderPartialAsync("_ProposedStandardsPartial", @Model);}
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <environment include="Development">
        <script src="~/javascripts/opp-finder-service.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/javascripts/opp-finder-service.min.js"></script>
    </environment>
}
