@model SFA.DAS.AssessorService.Web.ViewModels.OppFinder.OppFinderSearchViewModel
@{
    ViewData["Title"] = "Find an assessment opportunity";
    Layout = "_OppFinderServiceLayout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form asp-action="Search" asp-controller="OppFinder" method="get" asp-fragment="approved">
                <h2 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="search-term">
                        Search
                    </label>
                </h2>

                <div class="das-icon-search das-icon-search--on-white" data-module="gem-toggle-input-class-on-focus">
                    <span id="search-term-hint" class="govuk-hint">
                        Search for Standard, reference or sector (route)
                    </span>
                    <div class="das-icon-search__item-wrapper">
                        <input type="search" asp-for="SearchTerm" id="search-term" class="das-icon-search__item das-icon-search__input js-class-toggle">
                        <div class="das-icon-search__item das-icon-search__submit-wrapper">
                        <button type="submit" class="das-icon-search__submit" id="search">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <details class="govuk-details js-das-filters" data-module="govuk-details">
                <summary class="govuk-details__summary js-toggle-filters-button">
                    <span class="govuk-details__summary-text">
                        Show filters
                    </span>
                </summary>
                <div class="govuk-details__text govuk-!-padding-bottom-0">
                    <form asp-action="ApplyFilters" asp-controller="OppFinder">
                        <div id="standard-filters">
                            @{await Html.RenderPartialAsync("_StandardFiltersPartial", @Model.ShowFiltersViewModel);}
                        </div>
                        <button class="govuk-button govuk-!-margin-bottom-0" type="submit" id="apply-filters">
                            Apply
                        </button>
                        <a class="govuk-link das-inline-button-link" asp-action="ResetFilters" asp-controller="OppFinder" id="reset-filters">Reset filters</a>
                    </form>
                </div>
            </details>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <!-- tabs -->
            <div class="govuk-tabs" data-module="tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#approved">
                            Approved
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#in-development">
                            In-development
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#proposed">
                            Proposed
                        </a>
                    </li>
                </ul>
                <section class="govuk-tabs__panel" id="approved">
                    <div id="approved-standards">
                        @{await Html.RenderPartialAsync("_ApprovedStandardsPartial", @Model);}
                    </div>
                </section>
                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="in-development">
                    @if ((Model?.InDevelopmentStandards.TotalRecordCount ?? 0) > 0)
                    {
                        <p class="govuk-body">
                            Standards in development are being created by a Trailblazer group and are not yet approved
                            for delivery. If you are interested in assessing one or more of these Standards, complete the
                            expression of interest form.
                        </p>
                    }
                    <div id="in-development-standards">
                        @{await Html.RenderPartialAsync("_InDevelopmentStandardsPartial", @Model);}
                    </div>
                </section>
                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="proposed">
                    @if ((Model?.ProposedStandards.TotalRecordCount ?? 0) > 0)
                    {
                        <p class="govuk-body">
                            A proposal to develop an apprenticeship Standard means that a Trailblazer group of
                            employers are preparing to submit a proposal to develop an apprenticeship standard for this
                            occupation. This proposal will be subject to Institute for Apprenticeships and Technical
                            Education approval process and if agreed, will appear on the Institute for Apprenticeships
                            and Technical Education's list of standards in development.
                        </p>
                    }
                    <div id="proposed-standards">
                        @{await Html.RenderPartialAsync("_ProposedStandardsPartial", @Model);}
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body-s">
                Source: ILR and Apprenticeship Service
            </p>
            <p class="govuk-body">
                The information on this page is for illustration purposes only. Actual numbers may vary.
            </p>
            <p class="govuk-body govuk-!-margin-bottom-8">
                End point assessment for integrated degrees is restricted to degree awarding institutions. EPA for these Standards is not available to all potential EPAOs to assess.
            </p>
        </div>
    </div>
</main>

@section Scripts {
    <environment include="Development">
        <script src="~/javascripts/opp-finder-service.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/javascripts/opp-finder-service.min.js"></script>
    </environment>
}
