@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Search.SearchRequestViewModel

@{
    ViewBag.Title = (Model?.SearchResults != null && !Model.SearchResults.Any() ? "0 results found: " : !ViewData.ModelState.IsValid ? "Error: " : "") + "Search for an apprentice";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <!-- <a class="link-back" asp-controller="Search" asp-action="Index">Back</a> -->

        @if (Model?.SearchResults != null)
        {
            if (!Model.SearchResults.Any())
            {
                <a class="link-back" asp-controller="Search" asp-action="Index">Back</a>
                <h1 class="heading-large">We cannot find the apprentice details</h1>

                <p class="heading-medium">Check the:</p>
                <ul class="list list-bullet">
                    <li>spelling of the last name</li>
                    <li>ULN is correct for the apprentice</li>
                </ul>
            
                <p><a asp-controller="Search" asp-action="Index">Search again</a></p>

                <details role="group">
                    <summary role="button" aria-controls="why-we-cant-find-the-apprentice" aria-expanded="false"><span class="summary">Why we can't find the apprentice</span></summary>
                    <div class="text panel panel-border-narrow" id="why-we-cant-find-the-apprentice" aria-hidden="true">
                        <p>The most common reasons we can't find the apprentice are:</p>
                        <ul class="list list-bullet">
                            <li>the apprentice's details have changed, but the Individualised Learner Record (ILR) is not up to date</li>
                            <li>the ULN given to you by the training provider does not match what we have in our system</li>
                            <li>the apprenticeship is privately funded</li>
                        </ul>
                        <p>The correct details need to be agreed between you, the employer and the training provider. The training provider may need to update the Individualised Learner Record (ILR).</p>
                    </div>
                </details>
            }
        }
        else
        {
            await Html.RenderPartialAsync("_SearchForm", Model);
        }

    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("_SearchScriptsPartial"); }
}