@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Search.SearchViewModel

@{
    ViewBag.Title = (Model?.SearchResults != null && !Model.SearchResults.Any() ? "0 results found: " : !ViewData.ModelState.IsValid ? "Error: " : "") + "Search for an apprentice";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <!-- <a class="link-back" asp-controller="Search" asp-action="Index">Back</a> -->
        <h1 class="heading-large">Search for an apprentice</h1>

        @if (Model?.SearchResults != null)
        {
            if (!Model.SearchResults.Any())
            {
                <h2 class="heading-medium">0 results found</h2>

                <p class="heading-medium">Please try:</p>
                <ul class="list list-bullet">
                    <li>checking the spelling of the last name</li>
                    <li>making sure the ULN is correct for the apprentice</li>
                </ul>
            }
        }

        
        @{ await Html.RenderPartialAsync("_SearchForm", Model); }
        
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("_SearchScriptsPartial"); }
}