@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Search.SearchRequestViewModel

@{
    ViewBag.Title = (Model?.SearchResults != null && !Model.SearchResults.Any() ? "0 results found: " : !ViewData.ModelState.IsValid ? "Error: " : "") + "Record a grade";
    Layout = "_DashboardLayout";
}

@if (Model?.SearchResults != null)
{
    @if (!Model.SearchResults.Any())
    {
        <a class="govuk-back-link" asp-controller="Search" asp-action="Index">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">We cannot find the apprentice details</h1>

                    <p class="govuk-heading-m">Check the:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>spelling of the last name</li>
                        <li><abbr title="Unique learner number">ULN</abbr> is correct for the apprentice</li>
                    </ul>

                    <p class="govuk-body"><a class="govuk-link" asp-controller="Search" asp-action="Index">Search again</a></p>

                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Why we can't find the apprentice
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">The most common reasons we can't find the apprentice are:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>the apprentice's details have changed, but the Individualised Learner Record (ILR) is not up to date</li>
                                <li>the <abbr title="Unique learner number">ULN</abbr> given to you by the training provider does not match what we have in our system</li>
                                <li>the apprenticeship is privately funded</li>
                            </ul>
                            <p class="govuk-body">The correct details need to be agreed between you, the employer and the training provider. The training provider may need to update the Individualised Learner Record (ILR).</p>
                        </div>
                    </details>
                </div>
            </div>
        </main>
    }
}
else
{
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @{ await Html.RenderPartialAsync("_SearchForm", Model); }
            </div>
        </div>
    </main>
}


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("_SearchScriptsPartial"); }
}