@model SFA.DAS.AssessorService.Web.Staff.ViewModels.Private.CertificateApprovalViewModel
@using SFA.DAS.AssessorService.Web.Staff


@{ ViewBag.Title = "Privately funded certificates - Approved"; }

<a class="govuk-back-link" asp-controller="Dashboard" asp-action="Index">Return to dashboard</a>

<div>
    <nav class="app-navigation govuk-clearfix">
        <ul class="app-navigation__list">
            <li class="app-navigation">
                <a asp-controller="CertificateApprovals" asp-action="New">New</a>
            </li>
            <li class="app-navigation">
                <a asp-controller="CertificateApprovals" asp-action="SentForApproval">Sent for approval</a>
            </li>
            <li class="app-navigation--current-page">
                <a asp-controller="CertificateApprovals" asp-action="Approved">Approved</a>
            </li>
            <li class="app-navigation">
                <a asp-controller="CertificateApprovals" asp-action="Rejected">Rejected</a>
            </li>
        </ul>
    </nav>
</div>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                </div>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list"></ul>
                    </div>
                </div>
            }

            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Privately funded certificates</span>
                Approved
            </h1>
        </div>
    </div>

    <form class="apprentice-approvals-form js-disable-on-submit" type="post" asp-controller="CertificateApprovals" asp-action="Approvals">
        @if (@Model.ApprovedCertificates.Items.Any())
        {
            await Html.RenderPartialAsync("_ApprovalsDetailsPartial", @Model.ApprovedCertificates, new ViewDataDictionary(ViewData)
            {
                {"Increment", 0},
                {"ApprovalResults", Model.ApproveResults()}
            });
        }
        else
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">No approved privately funded certificates found.</p>
                </div>
            </div>
        }

    </form>
</main>

@{
    await Html.RenderPartialAsync("_ApprovalPaginationLinks", new ViewDataDictionary(ViewData)
    {
        {"PageIndex", Model.ApprovedCertificates.PageIndex},
        {"TotalPages", Model.ApprovedCertificates.TotalPages},
        {"HasPreviousPage", Model.ApprovedCertificates.HasPreviousPage},
        {"HasNextPage", Model.ApprovedCertificates.HasNextPage},
        {"Action", "Approved"}
    });
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("~/Views/CertificateApprovals/_ApprovalsScriptsPartial.cshtml"); }
}