@{
    ViewBag.Title = "Feedback Sent";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">
                Feedback sent
            </h1>
            <p class="font-medium">
                An email has been sent to the applicant.
            </p>
        </div>
        @*<p>You can view previous evaluations, including this one in the <a asp-action="PreviousApplications" asp-controller="Applications">previous assessments</a> area.</p>*@
        <h3 class="heading-medium">What do you want to do next?</h3>
        <ul class="list list-bullet">
            <li>
                <a asp-action="Applications" asp-controller="Application">View new applications</a>
            </li>
            <li>
                <a asp-action="Dashboard" asp-controller="Application">Return to account home</a>
            </li>
            <li>
                <a href="https://www.surveymonkey.co.uk/r/P8YBH9J">What did you think of this service?</a> (takes 30 seconds)
            </li>
        </ul>
    </div>
</div>