@using SFA.DAS.AssessorService.Domain.Consts
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateConfirmationViewModel

@{
    ViewBag.Title = "Assessment recorded";
    Layout = "_DashboardLayout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Assessment recorded
                </h1>
                <div class="govuk-panel__body">
                    <div class="govuk-!-margin-bottom-4">
                        You have recorded a @Model.SelectedGrade.ToLower() for
                        <br /><strong>@Model.GivenNames @Model.FamilyName</strong>
                    </div>
                    <div>
                        @if (Model.SelectedGrade == CertificateGrade.Fail)
                        {
                            <div>The reference number is</div>
                        }
                        else
                        {
                            <div>The certificate number is</div>
                        }
                        <strong>@Model.Reference</strong>
                    </div>
                </div>
            </div>

            @if (Model.SelectedGrade != CertificateGrade.Fail)
            {
                <h2 class="govuk-heading-m">What happens next</h2>
                <p class="govuk-body">
                    We'll send the apprentice's certificate to the address you entered. You can <a class="govuk-link" asp-controller="CertificateHistory" asp-action="Index">check the status of the certificate</a> in the 'Completed assessments' section of your account.
                </p>
            }
            <h2 class="govuk-heading-m">What do you want to do next?</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" asp-controller="Search" asp-action="Index">Record another grade</a></li>
                <li>
                    <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/certification-transaction-complete/" target="_blank">
                        Leave feedback
                    </a>
                </li>
                @if (Model.SelectedGrade != CertificateGrade.Fail)
                {
                    <li>or</li>
                    <li><a class="govuk-link" asp-controller="Dashboard" asp-action="Index">Return to account home</a></li>
                }
            </ul>
        </div>
    </div>
</main>