@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateVersionNotApprovedViewModel;

@{
    ViewBag.Title = $"Error: Your Organisation is not currently approved to assess version {Model.AttemptedVersion}";
    Layout = "_DashboardLayout";

    var routeData = Model.BackToCheckPage ? new Dictionary<string, string>() { { "redirectToCheck", "True" } } : null;
}

<a class="govuk-back-link" asp-controller="CertificateVersion" asp-action="Version" asp-all-route-data="routeData">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Important
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">
                            Your organisation is not currently approved to assess version @Model.AttemptedVersion

                        </p>
                        <p class="govuk-body">When your organisation has been approved to assess this standard version, you can return here to record a grade.</p>
                    </div>
                </div>
                <h2 class="govuk-heading-m">What do you want to do next?</h2>
                <p class="govuk-body">
                    <a asp-controller="Search" asp-action="Index">Record another grade</a>
                    <br>
                    or
                    <br>
                    <a asp-controller="Dashboard" asp-action="Index">Return to account home</a>
                </p>
            </div>
        </div>
    </div>
</main>