<div class="govuk-inset-text" wfd-id="10">
    <strong>Opting in and out of a standard version</strong>

    <p>You can opt in to a standard version if you want to record outcomes against it.</p>

    <p>You can opt out of any standard version that you no longer want to record outcomes for. You can opt in at any time.</p>

    <p>To record outcomes for a standard, you must be opted in to at least one standard version.</p>

    <p>You are required to have at least one approved standard version. If you want to opt out of all standard versions please contact the support team.</p>

    <p>Email: <a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a></p>

    <p>Telephone: 08000 150 600</p>
</div>