<div class="govuk-inset-text" wfd-id="10">
    <strong>Opting in and out of a standard version</strong>

    <p>You can opt in to a standard version if you want to record outcomes against it.</p>

    <p>You can opt out of any standard version that you no longer want to record outcomes for. You can opt in at any time.</p>

    <p>To record outcomes for a standard, you must be opted in to at least one standard version. To withdraw from all versions in a standard, <a class="govuk-link" asp-controller="ApplyForWithdrawal" asp-action="Index">withdraw from the standard</a>.</p>
</div>