@using SFA.DAS.AssessorService.Web.Staff.Controllers
@model SFA.DAS.AssessorService.Web.Staff.Controllers.SearchViewModel

@{
    ViewBag.Title = "ILR and certificate search";
    Layout = "_Layout";
}

<a asp-action="Index" asp-controller="Dashboard" class="govuk-back-link">Return to dashboard</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form asp-action="Results" asp-controller="Search" method="get">
                @Html.HiddenFor(m => m.Page)
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--xl" for="SearchString">
                            Search
                        </label>
                    </h1>
                    <span class="govuk-hint">
                        <p class="govuk-body govuk-body--hint">Search using either the:</p>
                        <ul class="govuk-list govuk-list--bullet govuk-list--hint">
                            <li>certificate reference number</li>
                            <li>unique learner number (ULN)</li>
                            <li>apprentice's name, or</li>
                            <li>EPAO ID</li>
                        </ul>
                    </span>
                    <input class="govuk-input" asp-for="SearchString" />
                </div>
                <button class="govuk-button" type="submit">Search</button>
            </form>
        </div>
    </div>
</main>