@using SFA.DAS.AssessorService.Web.Staff.Controllers
@model SFA.DAS.AssessorService.Web.Staff.Controllers.SearchViewModel

@{
    
}

<h2>Search</h2>

<form asp-action="Index" asp-controller="Search">
    @Html.HiddenFor(m => m.Page)
    <label asp-for="SearchString"></label>
    <input asp-for="SearchString"/>
    <button type="submit">Search</button>
</form>