@using SFA.DAS.AssessorService.Web.Staff.Controllers
@model SFA.DAS.AssessorService.Web.Staff.Controllers.SearchViewModel

@{
    ViewBag.Title = "ILR and certificate search";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a asp-action="Index" asp-controller="Dashboard" class="link-back">Return to dashboard</a>
        <form asp-action="Results" asp-controller="Search" method="get">
            @Html.HiddenFor(m => m.Page)
            <div class="form-group">
                <h1>
                    <label class="form-label" for="SearchString">
                        <span class="heading-xlarge">Search</span>
                        <span class="form-hint">Search by learner name, ULN, certificate reference or EPAO ID</span>
                    </label>
                </h1>
                <p>Search using either the:</p>
                <ul class="list list-bullet">
                    <li>certificate reference number</li>
                    <li>unique learner number (ULN)</li>
                    <li>apprentice's name, or</li>
                    <li>EPAO ID</li>
                </ul>
                <input class="form-control" asp-for="SearchString" />
            </div>
            <button class="button" type="submit">Search</button>
        </form>
    </div>
</div>