details {
  margin-bottom: 30px;
}

.button:focus {
  position: inherit;
}

.govuk-related-items {
  margin-top: 30px;
  border-top: 10px solid #005ea5;
  padding-top: 5px;
}

.govuk-related-items .heading-medium {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

.govuk-related-items li {
  margin-bottom: 10px;
  list-style-type: none;
}

.global-header-bar--white {
  background-color: #004274 !important;
}

.header-user {
  background: #005ea5;
  margin-top: -10px;
  position: relative;
  z-index: 1;
}

.header-user,
.header-organisation {
  border-width: 1px 0;
}

.header-inner {
  max-width: 960px;
  margin: 0 15px;
  padding: 0;
  color: #fff;
  outline: none;
}

@media (min-width: 641px) {
  .header-inner {
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  .header-inner {
    margin: 0 auto;
  }
}

.header-inner h1,
.header-inner h2,
.header-inner h3,
.header-inner h4,
.header-inner h5 {
  padding: 0;
  margin: 0;
}

#header-user--nav {
  padding: 15px 0;
}

#header-user--nav .heading-small .heading-secondary {
  color: #bae1ff;
  font-weight: normal;
  font-size: 16px;
  padding-left: 5px;
}

#header-user--nav a {
  color: #fff;
  text-decoration: none;
}

#header-user--nav a:hover {
  color: #fff;
  text-decoration: underline;
}

#header-user--nav nav#user-nav > ul {
  list-style: none;
  position: relative;
  margin-top: 15px;
}

@media (min-width: 641px) {
  #header-user--nav nav#user-nav > ul {
    float: right;
    margin: 0;
  }

  #header-user--nav nav#user-nav > ul li {
    margin-left: 20px;
  }
}

#header-user--nav nav#user-nav > ul li {
  border-top: 1px solid #0085ea;
  padding: 7.5px 0;
}

#header-user--nav nav#user-nav > ul li:last-child {
  padding-bottom: 0;
}

#header-user--nav nav#user-nav > ul li.current a {
  text-decoration: none;
  color: #75c4ff;
}

#header-user--nav nav#user-nav > ul li a {
  color: #fff;
  text-decoration: underline;
}

#header-user--nav nav#user-nav > ul li a:hover {
  color: #bae1ff;
  text-decoration: underline;
}

@media (min-width: 641px) {
  #header-user--nav nav#user-nav > ul li {
    border: none;
    display: inline-block;
    float: left;
    padding: 0;
  }
  #header-user--nav nav#user-nav > ul li > a.js-toggle {
    padding-left: 25px;
  }
  #header-user--nav nav#user-nav > ul li ul {
    display: none;
  }
  #header-user--nav nav#user-nav > ul li.open {
    position: relative;
  }
  #header-user--nav nav#user-nav > ul li.open ul {
    display: block;
    position: absolute;
    width: 250px;
    top: 100%;
    right: 0;
    background: #f8f8f8;
    border: 1px solid #bae1ff;
    z-index: 100;
  }
  #header-user--nav nav#user-nav > ul li.open ul li {
    margin: 0 10px;
    border-bottom: 1px solid #bae1ff;
  }
  #header-user--nav nav#user-nav > ul li.open ul li:last-child {
    border: none;
  }
  #header-user--nav nav#user-nav > ul li.open ul li a {
    padding-left: 0;
    padding-right: 0;
  }
  #header-user--nav nav#user-nav > ul li.open ul li.selected a {
    margin-left: 0;
  }
  #header-user--nav nav#user-nav > ul li a.menu-open,
  #header-user--nav nav#user-nav > ul li a.menu-open:focus {
    background: #f8f8f8;
    border: 1px solid #bfc1c3;
    border-bottom: none;
    position: relative;
    margin-bottom: -1px;
    z-index: 101;
  }
}

nav.global-nav {
  font-size: 14px;
}

@media (min-width: 641px) {
  nav.global-nav {
    font-size: 16px;
  }
}

nav.global-nav ul {
  list-style: none;
  margin: 0;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0;
  position: relative;
}

nav.global-nav ul li {
  display: inline-block;
  float: left;
}

nav.global-nav ul li a {
  padding: 12px 15px 10px;
  display: block;
  position: relative;
}

nav.global-nav ul li a:focus {
  outline: 0;
}

nav.global-nav ul li.current a {
  color: black;
  text-decoration: none;
}

nav.global-nav ul li.current a:after {
  content: '';
  display: block;
  height: 5px;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: -1px;
  z-index: 1;
  background: #005ea5;
}

nav.global-nav ul li.more-link a {
  position: absolute;
}

@media (min-width: 641px) {
  nav.global-nav ul li.more-link {
    display: none;
  }
}

nav.global-nav ul#global-nav-links-secondary {
  float: none;
  clear: both;
  margin-right: -15px;
}

@media (min-width: 641px) {
  nav.global-nav ul#global-nav-links-secondary {
    float: left;
    clear: none;
    margin-left: 0;
  }
}

nav.global-nav ul#global-nav-links-secondary li {
  display: block;
  float: none;
  border-top: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
  nav.global-nav ul#global-nav-links-secondary li {
    float: left;
    border: none;
  }
}

@media (min-width: 769px) {
  nav.global-nav ul {
    font-size: 19px;
  }
}

nav.global-nav ul li.sa-stacker {
  float: right;
}

nav.global-nav ul li.sa-stacker ul {
  display: none;
}

nav.global-nav ul li.sa-stacker.sa-open ul {
  display: block;
  position: absolute;
  background: white;
  left: 15px;
  right: -15px;
  border-bottom: 2px solid #bfc1c3;
}

nav.global-nav ul li.sa-stacker.sa-open ul li {
  display: block;
  float: none;
  border-top: 1px solid #bfc1c3;
}

fieldset.after-error-summary {
  margin-top: -15px;
}

@media (min-width: 641px) {
  fieldset.after-error-summary {
    margin-top: -30px;
  }
}

.error-summary,
.info-summary,
.success-summary,
.warning-summary {
  border-width: 4px;
  border-style: solid;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px;
}

@media (min-width: 641px) {
  .error-summary,
  .info-summary,
  .success-summary,
  .warning-summary {
    border-width: 5px;
    border-style: solid;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px;
  }
}

.error-summary h3[class^='heading-'],
.info-summary h3[class^='heading-'],
.success-summary h3[class^='heading-'],
.warning-summary h3[class^='heading-'],
.info-highlighted h3[class^='heading-'] {
  margin: 0;
}

.error-summary p,
.info-summary p,
.success-summary p,
.warning-summary p,
.info-highlighted p {
  margin-bottom: 10px;
}

.info-summary {
  border-color: #2e358b;
}

@media (min-width: 641px) {
  .info-summary {
    border-color: #2e358b;
  }
}

.info-summary .info-summary-list a {
  color: #2e358b;
}

.info-summary .info-dismiss {
  color: #2e358b;
}

.js-error-summary {
  display: none;
}
