<div class="govuk-notification-banner" role="region"
     aria-labelledby="govuk-notification-banner-title"
     data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">The Register of end-point assessment organisations (EPAO) is now part of the Apprenticeship provider and assessment register (APAR).</p>
        <p>If your organisation was previously on the Register of EPAOs, your details and approved standards have been transferred to APAR. You can sign in to the apprenticeship assessment service with your existing account.</p>
    </div>
</div>