<div class="govuk-notification-banner" role="region"
     aria-labelledby="govuk-notification-banner-title"
     data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">This service will switch to GOV.UK One Login soon.</p>
        <p>GOV.UK One Login is the new way to sign in to government services.</p>
        <p>When we switch, you’ll be asked to create a GOV.UK One Login. Create your GOV.UK One Login with the same email address you currently use for this service. Your assessment data will be brought across to your new account.</p>
    </div>
</div>