<div class="govuk-notification-banner" role="region"
     aria-labelledby="govuk-notification-banner-title"
     data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">From 14 July to 31 July 2023 you will not be able to apply to assess new standards or versions.</p>
        <p>New end-point assessment organisations will be able to use this service from 1 August 2023.</p>
    </div>
</div>