<div class="govuk-notification-banner" role="region"
     aria-labelledby="govuk-notification-banner-title"
     data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">From 14 July to 31 July 2023 you will not be able to apply to assess new standards or versions.</p>
        <p>If you already have an account, you'll still be able to record grades and apply for certificates.</p>
    </div>
</div>