@using SFA.DAS.AssessorService.Settings
@inject IWebConfiguration Configuration
@{
    ViewData["Title"] = "Signed out";
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                You've signed out
            </h1>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <a href="@Configuration.ServiceLink" class="govuk-button">Continue</a>    
        </div>
        
    </div>
</main>