@using SFA.DAS.AssessorService.Domain.Consts
@model SFA.DAS.AssessorService.Web.ViewModels.Apply.OptInConfirmationViewModel
@{
    ViewBag.Title = "Opt In Confirmation";
}

<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <div class="govuk-panel__body">
                    <h1 class="govuk-panel__title">
                        You have opted into Version @Model.Version
                    </h1>
                </div>
            </div>

            <p class="govuk-body">We have sent you a confirmation email.</p>

            <h3 class="govuk-heading-m">What happens next</h3>

            <p class="govuk-body">You are now approved to assess Version @Model.Version of the @Model.StandardTitle standard.</p>

            <p class="govuk-body govuk-!-margin-bottom-8"><a href="\OrganisationStandards" class="govuk-link--no-visited-state">Go back to your standards and versions</a></p>

            <p class="govuk-body"><a href="@Model.FeedbackUrl" target="_blank" class="govuk-link--no-visited-state">What do you think of this service?</a> (Takes 60 seconds)</p>

        </div>
    </div>
</main>