@model SFA.DAS.AssessorService.Web.Staff.ViewModels.Roatp.AddOrganisationViewModel

@using SFA.DAS.AssessorService.Web.Staff
@using SFA.DAS.AssessorService.Web.Staff.Domain

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Enter organisation details";
}

<form asp-controller="AddRoatpOrganisation" asp-action="Back" method="post" name="backForm">
        <input type="hidden" asp-for="OrganisationId" />
        <input type="hidden" name="action" value="AddOrganisation" />
        <a href="JavaScript:document.backForm.submit();" class="govuk-back-link">Back</a>
</form>

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                </div>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li><a sfa-validation-for="LegalName"></a></li>
                            <li><a sfa-validation-for="UKPRN"></a></li>
                            <li><a sfa-validation-for="CompanyNumber"></a></li>
                            <li><a sfa-validation-for="CharityNumber"></a></li>
                            <li><a sfa-validation-for="TradingName"></a></li>
                        </ul>
                    </div>
                </div>
            }

            <h1 class="govuk-heading-xl">Enter details</h1>
            <form method="post" asp-action="AddOrganisationPreview" asp-controller="AddRoatpOrganisation">

                <input type="hidden" asp-for="ProviderTypeId" />
                <div class="govuk-form-group" sfa-validation-for="LegalName" sfa-validationerror-class="govuk-form-group--error">
                    <label for="LegalName" class="govuk-label">Legal name</label>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="govuk-error-message" asp-validation-for="LegalName"></span>
                    }
                    <input id="LegalName" name="LegalName" type="text" class="govuk-input" asp-for="LegalName" 
                            sfa-validation-for="LegalName" sfa-validationerror-class="govuk-input--error" />
                </div>
                <div class="govuk-form-group" sfa-validation-for="UKPRN" sfa-validationerror-class="govuk-form-group--error">
                    <label for="UKPRN" class="govuk-label">UKPRN</label>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="govuk-error-message" asp-validation-for="UKPRN"></span>
                    }
                    <input id="UKPRN" name="UKPRN" type="text" class="govuk-input govuk-!-width-one-third" asp-for="UKPRN"
                            sfa-validation-for="UKPRN" sfa-validationerror-class="govuk-input--error" />
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="OrganisationTypeId">
                        Type of organisation
                    </label>
                    <select class="govuk-select" id="OrganisationTypeId" name="OrganisationTypeId" asp-for="OrganisationTypeId">
                        @foreach (var organisationType in Model.OrganisationTypes)
                        {
                            <option value="@organisationType.Id">@organisationType.Type</option>
                        }
                    </select>
                </div>

                <div class="govuk-form-group" sfa-validation-for="CompanyNumber" sfa-validationerror-class="govuk-form-group--error">
                    <label for="CompanyNumber" class="govuk-label">Company number, if applicable</label>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="govuk-error-message" asp-validation-for="CompanyNumber"></span>
                    }
                    <input id="CompanyNumber" name="CompanyNumber" type="text" class="govuk-input govuk-!-width-one-third" asp-for="CompanyNumber"
                            sfa-validation-for="CompanyNumber" sfa-validationerror-class="govuk-input--error" />
                </div>
                <div class="govuk-form-group" sfa-validation-for="CharityNumber" sfa-validationerror-class="govuk-form-group--error">
                    <label for="CharityNumber" class="govuk-label">Charity registration number, if applicable</label>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="govuk-error-message" asp-validation-for="CharityNumber"></span>
                    }
                    <input id="CharityNumber" name="charityNumber" type="text" class="govuk-input govuk-!-width-one-third" asp-for="CharityNumber"
                            sfa-validation-for="CharityNumber" sfa-validationerror-class="govuk-input--error" />
                </div>

                <div class="govuk-form-group" sfa-validation-for="TradingName" sfa-validationerror-class="govuk-form-group--error">
                    <label for="TradingName" class="govuk-label">Trading name, if applicable</label>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="govuk-error-message" asp-validation-for="TradingName"></span>
                    }
                    <input id="TradingName" name="TradingName" type="text" class="govuk-input" asp-for="TradingName"
                            sfa-validation-for="TradingName" sfa-validationerror-class="govuk-input--error" />
                </div>
                <input type="submit" class="govuk-button" value="Add" />
            </form>
        </div>
    </div>
</main>
