@using SFA.DAS.AssessorService.Web.Staff.Infrastructure
@model SFA.DAS.AssessorService.Web.Staff.ViewModels.Roatp.OrganisationSearchViewModel
@inject RoatpSessionService sessionService

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Search for an apprenticeship training provider";
}

@{
    var searchTerm = sessionService.GetSearchTerm();
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


            <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                </div>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li><a sfa-validation-for="SearchTerm"></a></li>
                        </ul>
                    </div>
                </div>
            }
            
            <h1 class="govuk-heading-xl">Search for an apprenticeship training provider</h1>

            <form method="post" asp-controller="RoatpSearch" asp-action="Search">
                <div id="searchControls" class="govuk-form-group" sfa-validation-for="SearchTerm" sfa-validationerror-class="govuk-form-group--error">
                    <label for="search" class="govuk-label">Organisation name or UKPRN</label>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="govuk-error-message" asp-validation-for="SearchTerm"></span>
                    }
                    <input
                        class="govuk-input govuk-!-width-two-thirds"
                        autocomplete="off"
                        type="search"
                        id="SearchTerm"
                        name="SearchTerm"
                        sfa-validation-for="SearchTerm"
                        sfa-validationerror-class="govuk-input--error"
                        value="@searchTerm"
                    />
                </div>

                <input type="submit" class="govuk-button" value="Search">
            </form>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <ul class="govuk-list">
                <li><a class="govuk-link" asp-controller="AddRoatpOrganisation" asp-action="EnterUkprn">Add a new training provider</a></li>        
                <li><a class="govuk-link" asp-controller="DownloadRoatp" asp-action="Download">Download list of training providers</a></li>
                <li><a class="govuk-link" asp-controller="DownloadRoatp" asp-action="DownloadFatFile">Download FAT file</a></li>
            </ul>
        </div>
    </div>
</main>