@model SFA.DAS.AssessorService.Web.Staff.ViewModels.Roatp.OrganisationSearchResultsViewModel

@{
    ViewBag.Title = Model.Title;
}

@{
    await Html.RenderPartialAsync("~/Views/Roatp/_StylesPartial.cshtml");
}

@{
    var searchParams = new Dictionary<string, string>
    {
        { "SearchTerm", Model.SearchTerm }
    };
}


<div class="govuk-width-container">

    <a asp-controller="RoatpHome" asp-action="Index" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <h1 class="govuk-heading-xl govuk-!-width-two-thirds">@Html.Raw(Model.Title)</h1>
            <div class="govuk-body govuk-grid-row">
                <div id="searchResultsList" class="govuk-grid-column-one-third">
                    <ul class="govuk-list">
                        @foreach (var result in Model.SearchResults)
                        {
                            <li class="govuk-section-break govuk-!-padding-left-2 govuk-!-padding-top-2 govuk-!-padding-bottom-1">
                                @if (result.OrganisationStatus.Id == 0)
                                {
                                    <a href="#" class="govuk-!-font-weight-bold_ roatp-org-search-result">@Html.Raw(result.LegalName) (Removed)</a>
                                }
                                else 
                                {
                                    <a href="#" class="govuk-!-font-weight-bold_ roatp-org-search-result">@Html.Raw(result.LegalName)</a>
                                }
                                <span class="block">UKPRN @Html.Raw(result.UKPRN)</span>
                            </li>
                        }
                    </ul>
                    @if (Model.TotalCount > 5)
                    {
                        <div class="well govuk-!-font-size-16 govuk-!-padding-2">
                        Result limited to 5.
                        <a class="block govuk-link govuk-link--no-visited-state" asp-controller="RoatpSearch" asp-action="RefineSearch" asp-all-route-data="searchParams">Refine search</a>
                    </div>
                    }
                    
                    @if (!Model.SearchResults.Any())
                    {
                        <div class="govuk-grid-row">
                            <a asp-controller="RoatpHome" asp-action="Index" class="roatp-button">Search again</a>
                        </div>
                        <div class="govuk-grid-row">
                            <a class="govuk-link govuk-body-m" asp-controller="AddRoatpOrganisation" asp-action="AddOrganisation">Add a new training provider</a>
                        </div>
                    }
                </div>

            </div>


        </main>
</div>
