
@{ ViewBag.Title = "UKRLP is unavailable"; }

@{
    await Html.RenderPartialAsync("~/Views/Roatp/_StylesPartial.cshtml");
}

<div class="grid-row">
    <form asp-controller="AddRoatpOrganisation" asp-action="Back" method="post" name="backForm">
        <div class="govuk-grid-column-one-half">
            <input type="hidden" name="action" value="EnterUkprn" />
            <a href="JavaScript:document.backForm.submit();" class="govuk-back-link">Back</a>
        </div>
    </form>
</div>
<div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
        There is a problem
    </h2>
    <ul class="js-error-summary-list error-summary-list"></ul>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge roatp-heading">UKRLP is unavailable
        </h1>
    </div>
</div>
<div class="govuk-width-container">

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" asp-action="EnterUkprn" asp-controller="AddRoatpOrganisation">
                    You'll need to <a asp-controller="AddRoatpOrganisation" asp-action="EnterUkprn">
                        try again
                    </a>.
                </form>
            </div>
        </div>
    </main>
</div>
