@{ ViewBag.Title = "UKPRN Not Found"; }

@{
    await Html.RenderPartialAsync("~/Views/Roatp/_StylesPartial.cshtml");
}

<div class="grid-row">
    <form asp-controller="AddRoatpOrganisation" asp-action="Back" method="post" name="backForm">
        <div class="govuk-grid-column-one-half">
            <input type="hidden" name="action" value="EnterUkprn" />
            <a href="JavaScript:document.backForm.submit();" class="govuk-back-link">Back</a>
        </div>
    </form>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge roatp-heading">UKPRN not found</h1>
    </div>
</div>

