@model SFA.DAS.AssessorService.Web.Staff.ViewModels.Roatp.UpdateOrganisationLegalNameViewModel

@using SFA.DAS.AssessorService.Web.Staff
@using SFA.DAS.AssessorService.Web.Staff.Domain
@{ ViewBag.Title = "Enter details"; }

@*
@{
    await Html.RenderPartialAsync("~/Views/Roatp/_StylesPartial.cshtml");
}
*@

<form asp-controller="RoatpSearch" asp-action="SearchResults" method="post" name="backForm">
    <a href="JavaScript:document.backForm.submit();" class="govuk-back-link">Back</a>
</form>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                </div>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li><a sfa-validation-for="LegalName"></a></li>
                        </ul>
                    </div>
                </div>
            }

            <h1 class="govuk-heading-xl">Change legal name for <span class="roatp-update-organisation-long-text">@Html.Raw(Model.LegalName)</span></h1>
            <form method="post" asp-action="UpdateLegalName" asp-controller="UpdateRoatpOrganisation">
                @Html.HiddenFor(x => x.OrganisationId)
                <div class="govuk-form-group" sfa-validation-for="LegalName" sfa-validationerror-class="govuk-form-group--error">
                    <label for="LegalName" class="govuk-label">Legal name</label>
                    <span class="govuk-error-message" asp-validation-for="LegalName"></span>
                    <input id="LegalName" name="LegalName" type="text" class="govuk-input" asp-for="LegalName"
                            sfa-validation-for="LegalName" sfa-validationerror-class="govuk-input--error" />
                </div>
                @Html.HiddenFor(x => x.CurrentLegalName)
                <input type="submit" class="govuk-button" value="Change" />
            </form>
        </div>
    </div>
</main>