@*@{
        ViewData["Title"] = "UpdateOrganisationTradingName";
    }

    <h2>UpdateOrganisationTradingName</h2>*@
@model SFA.DAS.AssessorService.Web.Staff.ViewModels.Roatp.UpdateOrganisationTradingNameViewModel

@using SFA.DAS.AssessorService.Web.Staff
@using SFA.DAS.AssessorService.Web.Staff.Domain
@{ ViewBag.Title = "Enter details"; }

@{
    await Html.RenderPartialAsync("~/Views/Roatp/_StylesPartial.cshtml");
}
<div class="grid-row">
    <form asp-controller="RoatpSearch" asp-action="SearchResults" method="post" name="backForm">
        <div class="govuk-grid-column-one-half">
            <a href="JavaScript:document.backForm.submit();" class="govuk-back-link">Back</a>
        </div>
    </form>
</div>

<div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
        There is a problem
    </h2>
    <ul class="js-error-summary-list error-summary-list"></ul>
</div>
@if (!ViewData.ModelState.IsValid)
{
    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
            There is a problem
        </h2>
        <ul class="error-summary-list">
            <li><a sfa-validation-for="TradingName"></a></li>
        </ul>
    </div>
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge roatp-heading">Change trading name for @Html.Raw(Model.CurrentTradingName)</h1>
    </div>
</div>
<div class="govuk-width-container">

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" asp-action="UpdateTradingName" asp-controller="UpdateRoatpOrganisation">
                    @Html.HiddenFor(x => x.OrganisationId)
                    <div class="govuk-form-group" sfa-validation-for="TradingName" sfa-validationerror-class="form-group-error">
                        <label for="TradingName" class="roatp-label">Trading name</label>
                        <span class="error-message" asp-validation-for="TradingName"></span>
                        <input id="TradingName" name="TradingName" type="text" class="roatp-input" asp-for="TradingName"
                               sfa-validation-for="TradingName" sfa-validationerror-class="form-control-error" />
                    </div>
                    @Html.HiddenFor(x => x.CurrentTradingName)
                    <input type="submit" class="roatp-button" value="Change" />
                </form>
            </div>
        </div>
    </main>
</div>

