@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.Staff.ViewModels.CertificateApprenticeDetailsViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Recipient's name";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a class="link-back" asp-controller="CertificateAmmend" asp-action="Check" asp-route-certificateid=@Model.Id>Back</a>

        <form class="apprentice-address-form" type="post" asp-controller="CertificateApprenticeDetails">
            @Html.HiddenFor(c => c.Id)

            @* hidden with css by default *@
            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="error-summary-list">
                    <li><a sfa-validation-for="Name"></a></li>
                </ul>
            </div>
            }

            <fieldset sfa-anyvalidationerror-class="after-error-summary">
                <legend id="Name">
                    <h1 class="heading-large">                        
                       Enter Family Name
                    </h1>
                </legend>

                <div class="form-group" sfa-validation-for="Name" sfa-validationerror-class="form-group-error">
                    <label for="Name">
                        <span class="form-label-bold">Learner Family Name</span>
                        <span class="form-hint">
                            For example, Hawkins
                        </span>
                        <span class="error-message" asp-validation-for="FamilyName"></span>
                    </label>
                    <input class="form-control" name="FamilyName" sfa-validation-for="FamilyName" sfa-validationerror-class="form-control-error" asp-for="FamilyName" type="text" />
                </div>  

            </fieldset>

            <button type="submit" class="button">Continue</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @*@{await Html.RenderPartialAsync("~/Views/CertificateAmmend/_AddressScriptsPartial.cshtml"); }*@
}